<app-header></app-header>

<ion-content>
  <div class="p-2">


    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title >Direito Administrativo</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

      <table width="100%">
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Processo Administrativo Disciplinar(PAD)
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Regime Jurídico Administrativo
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Responsabilidade Administrativa
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Suporte a Servidores Públicos
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Responsabilidade Extracontratual
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Licitações Administrativas
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Concursos Públicos
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Habeas-Data
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Suporte Jurídico para Concessões públicas
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Mandado de Segurança
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Precatórios
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Parcerias Público Privadas
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Contratos Administrativos
          </td>
          <td width="5%"></td>
          <td class="p-2">

          </td>
        </tr>
      </table>
      <br>

      <h2>Somos um escritório de advocacia especializado em Direito Administrativo</h2>

      O Advogado administrativo lida, entre outras questões, com aquelas pertinentes ao serviço público. O direito
      administrativo é o conjunto de normas que regulamentam e regulam a atividade da Administração Pública de
      atendimento ao interesse público. Atuar nessa área jurídica é uma experiência que orgulha o nosso escritório de
      advocacia.
      <br><br>
      No Direito Administrativo, entre outras atividades, nos prestamos à defesa dos direitos de servidores públicos nos
      diferentes âmbitos da Administração Pública, participamos na concretização dos direitos daqueles que pleiteiam
      vaga em concurso público. Defendemos também indivíduos que tiveram o direito à informação a seu próprio respeito
      restringido e auxiliamos empresas privadas a prestarem suas atividades de forma segura em benefício da sociedade.
      <br><br>
      A seguir, trouxemos um guia completo desse ramo do Direito. A partir dele, é possível obter uma visão geral sobre
      o tema e entender como as exigências jurídicas afetam os negócios, além das providências necessárias para ficar em
      dia com a legislação. Confira!

      <h2>O que é Direito Administrativo?</h2>

      Imagine um pequeno reino em que todos os poderes estão concentrados na mão de uma pessoa. Para ver suas ordens
      cumpridas, o senhor local terá que definir o que deve ser feito e mobilizar esforços para executar as diretrizes
      estabelecidas. Caso haja alguma dúvida ou divergência sobre o que foi estipulado, ele precisará, ainda, decidir
      sobre a questão.
      <br><br>
      Em alguns países, como é o caso do Brasil, essas três funções — criar, executar e julgar padrões de comportamento
      — são distribuídas entre diferentes instituições. Em âmbito nacional, existe uma repartição do poder em três. São
      os poderes, Legislativo, Executivo e Judiciário.
      <br><br>
      O Direito Administrativo disciplina, portanto, a função executiva do Estado, também chamada simplesmente de função
      administrativa do Estado. Esse ramo, que pertence ao Direito Público, atua quando as leis que estabelecem itens
      como orçamentos, políticas públicas e proibições precisam ser transformadas em serviços públicos concretos.

      <h2>Quais são os casos mais comuns no Direito Administrativo?</h2>

      Dentre os casos que aparecem para um advogado especialista em Direito Administrativo, alguns são mais comuns do
      que outros.
      <br><br>
      A seguir, explicamos um pouco sobre os casos mais recorrentes que um advogado administrativo poderá atuar.

      <h2>Mandado de segurança em concursos públicos</h2>

      A busca por um cargo estável e relevante frente à sociedade faz com que muitas pessoas dediquem seus esforços ao
      estudo intenso com o objetivo da aprovação em concursos públicos.
      <br><br>
      Não fosse essa tarefa difícil o suficiente, muitas das pessoas que conseguem preencher os requisitos necessários
      para a aprovação sofrem a desagradável surpresa de descobrir que algum fator inesperado levou à sua eliminação, a
      despeito do resultado positivo. O instrumento utilizado para reparar o dano é o mandado de segurança.
      <br><br>
      O mandado de segurança serve para proteger o seu direito:

      <h2>Liquido e certo</h2>

      Que não pode ser obtido por habeas corpus ou habeas data
      Se houver violação ou justo receio de violação de direito, por ação ou omissão, ato ilegal ou em abuso de poder de
      autoridade pública, ou agente de pessoa jurídica, no exercício de atribuições do Poder Público
      <br><br>
      Não deve ser usado nos seguintes casos:

      <ul>
        <li>Em relação a ato que é possível entrar com recurso administrativo com efeito suspensivo,</li>
        <li>Em razão de decisão transitada em julgado</li>
        <li>Contra decisão judicial passível de recurso com efeito suspensivo.</li>
        <li>O mandado de segurança em concursos públicos pode ser utilizado, por exemplo, para reparar erro material
          frente ao edital, reprovação por falta de diploma à época do concurso e reprovação pela falta de atributos
          físicos que não afetam as atividades previstas para o cargo.</li>
      </ul>

      No caso do concurso publico, podemos usar o mandado de segurança para contestar decisões e atos do poder publico.

      É possível iniciar o mandado de segurança quando:

      <ul>
        <li> Não houver aprovação dentro do número de vagas: o STF entendeu que o candidato aprovado dentro do número de
          vagas tem direito a nomeação, ou seja, é um direito líquido e certo. Nesse caso, a administração pública não
          tem motivos para deixar de fazer a nomeação, então acaba sendo obrigada pela justiça.
        <li>Casos de aprovação no cadastro de reserva: embora a aprovação no cadastro de reserva não represente um
          direito adquirido, há situações excepcionais, em que a Justiça pode obrigar a administração pública a nomear
          esses candidatos.</li>
      </ul>

      <h2>Processo Administrativo Disciplinar</h2>

      O Processo Administrativo Disciplinar, previsto na Lei n. 8.112/1990, é o instrumento público utilizado para
      investigar possíveis ilicitudes de servidores que tenham descumprido o exercício regular de seu cargo ou agido de
      forma contrária a ele.
      <br><br>
      De acordo com a lei, as penalidades disciplinares são advertência, suspensão, demissão, cassação de aposentadoria
      ou disponibilidade, destituição de cargo em comissão, e destituição de função comissionada, sendo assim é
      importante que o servidor acusado de cometer alguma irregularidade conte com uma assessoria jurídica especializada
      desde o início do processo, uma vez que já há garantias a serem observadas em benefício do servidor na
      instauração. A assessoria adequada possibilitará o direito ao contraditório de maneira competente, garantindo que
      o servidor não seja alvo de injustiças ou arbitrariedades.

      <h2>Habeas Data</h2>

      O Habeas Data é o “remédio” constitucional que busca garantir o acesso a informações e a correção destas em
      caráter público. Previsto no art. 5º, inciso LXXII, da Constituição Federal, trata-se de uma ferramenta
      excepcionalmente importante. É esse instrumento que impede que informações sejam negadas ou equivocadamente
      oferecidas a alguém.
      <br><br>
      Como forma preventiva, o habeas data age como uma garantia constitucional para evitar o uso abusivo das
      informações das pessoas, que foram adquiridas de modo fraudulento ou ilícito.
      <br><br>
      Garante também a preservação da intimidade, privacidade, honra e a possibilidade de corrigir informações indevidas
      sobre o indivíduo solicitante junto à instituição que detém os seus registros.
      <br><br>
      O Habeas Data pode ser pedido sempre que a Administração Pública se negar a oferecer informações sobre um
      indivíduo a ele mesmo. Tanto o habeas corpus como o habeas data são ambos dispositivos legais previstos na
      Constituição Federal e com o objetivo de proteger o cidadão.O habeas corpus, que traduzido do latim para o
      português significa "que tenhas o teu corpo", é uma medida jurídica para proteger indivíduos que estão tendo sua
      liberdade infringida. Não há custas envolvendo o requerimento e qualquer cidadão brasileiro ou pessoa jurídica
      pode fazê-lo, sendo necessário, contudo, acionar um advogado para isso.

      <h2>Consultoria em Direito Regulatório</h2>

      O Direito Regulatório está dentro do escopo do Direito Administrativo. Sua finalidade é regular e controlar áreas
      estratégicas para a Economia e a infraestrutura nacionais, por meio de autoridades administrativas competentes
      para realizar essa atividade, como as agências reguladoras, por exemplo.
      <br><br>
      A consultoria em Direito Regulatório é a atividade consultiva realizada por profissional qualificado na área para
      auxiliar o interessado a seguir todas as regras estipuladas pelo Direito Regulatório. Dentre as atividades
      executadas pelos profissionais que atuam com Direito Regulatório, estão: atuação em nome do cliente perante às
      agências reguladoras, processos administrativos por descumprimento de normas e práticas preventivas.
      <br><br>
      O profissional atua auxiliando o cliente na prestação de contas e informacoes, acompanhamento de mudanças,
      reuniões e assembleias, e participa de todos os acontecimentos de forma efetiva. Esse tipo de atuação é muito
      importante para que os responsáveis pela organização social destinem todos os esforços para a causa, já que não
      precisam se dedicar tanto as questões burocráticas.

      <h2>Assessoria jurídica para sindicato de servidores</h2>

      Sindicatos são associações de trabalhadores ou empregadores de um mesmo segmento econômico. É de grande
      importância, para uma instituição representativa de uma classe de trabalhadores ter em seu organograma
      administrativo uma assessoria jurídica.O sindicato fiscaliza e também busca ganhos para a categoria quando o
      assunto é a segurança e a saúde do trabalhador. Representa o trabalhador na empresa e toma providencias que muitas
      vezes são evitadas, cumprindo assim um importante papel social.
      <br><br>
      A assessoria jurídica para sindicatos de servidores é importante nesse meio para auxiliar o sindicato em suas
      questões jurídicas, ajudando a defender os interesses desses profissionais.
      <br><br>
      Como os sindicatos encabeçam varias demandas em prol da categoria que rpresentam, há necessidade do apoio
      jurídico, que deve ocorrer não somente para os assuntos sindicais, mas também no sentido de instruir e defender os
      servidores filiados em sua rotina perante a administração pública.

      <h2>Licitações</h2>

      Licitação é o processo administrativo por meio do qual a Administração Pública adquire produtos e contrata
      serviços. Seu objetivo é encontrar os melhores fornecedores para o Estado.

      <h2>Princípios norteadores das licitações</h2>

      As licitações baseiam-se em alguns princípios importantes, os quais merecem ser aqui citados. São eles:

      <ul>
        <li>Moralidade;</li>
        <li>Impessoalidade;</li>
        <li>Legalidade;</li>
        <li>Probidade;</li>
        <li>Publicidade;</li>
        <li>Julgamento objetivo;</li>
        <li>Vinculação ao Instrumento Convocatório;</li>
        <li>Sigilo das propostas;</li>
        <li>Competitividade.</li>
      </ul>

      Seguindo esses princípios, existem algumas modalidades de licitações, cada qual destinada a um tipo de produto ou
      serviço específico e com seus procedimentos próprios.

      <h2>Modalidades licitatórias</h2>

      Ao todo, no Brasil, existem seis modalidades licitatórias. São elas:

      <ul>
        <li>Concorrência: modalidade usada para grandes contratos nos quais há muitos candidatos interessados, não
          havendo
          necessidade de cadastro prévio dos interessados;</li>
        <li>Tomada de preços: é feita por meio de um cadastro prévio dos interessados;</li>
        <li>Convite ou carta-convite: nessa modalidade, o licitante é convidado a participar do certame por meio de um
          convite, sendo necessária a existência de pelo menos três concorrentes;</li>
        <li>Leilão: é feita a venda de bens do patrimônio público e o maior lance adquire o bem;</li>
        <li>Concurso: é a modalidade utilizada para premiar trabalhos técnicos, científicos e artísticos;</li>
        <li>Pregão: nessa modalidade, a disputa é feita por meio de sessão pública ou eletrônica na qual as propostas
          dos
          interessados vão sendo lançadas.</li>
      </ul>

      <h2>A importância da assessoria em licitações</h2>

      O objetivo de existirem processos licitatórios sérios é garantir que os preços pagos pela Administração Pública
      sejam justos e que o serviço seja adequadamente prestado para a população. Por outro lado, em contrapartida, acaba
      por existir grande burocracia nesse tipo de processo de contratação.
      <br><br>
      Por isso, é importante contar com uma equipe jurídica preparada para lidar com essas questões. Uma equipe
      preparada pensara no âmbito do Direito Administrativo e, também, nas questões empresariais, ambientais,
      trabalhistas e tributárias envolvidas nesses processos.
      <br><br>
      Essa assessoria garantirá que a empresa que pretende concorrer em uma contratação pública esteja absolutamente
      adequada aos critérios exigidos pelo edital, podendo focar exclusivamente no serviço que é especializada em fazer,
      enquanto o escritório foca em sua própria especialidade, lidar com as questões legais.

      <br><br>
      <div class="center">
        <ion-button routerLink="/faleconosco">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          FALE CONOSCO    
      </ion-button>
      </div>
    </ion-card-content>
            
  </ion-card>
  </div>

</ion-content>
