<app-header></app-header>

<ion-content>
  <div class="p-2">


    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Fale Conosco</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        
        <ion-list>
          <ion-item>
            <ion-label>Nome completo : </ion-label>
            <ion-input [(ngModel)]="formulario.nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>E-mail : </ion-label>
            <ion-input [(ngModel)]="formulario.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Telefone : </ion-label>
            <ion-input [(ngModel)]="formulario.telefone"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-textarea [(ngModel)]="formulario.texto" placeholder="Descreva como podemos ajudar. Se preferir, solicite uma reunião."></ion-textarea>
          </ion-item>
          
        </ion-list>

        <ion-button routerLink="/faleconosco" (click)="solicitar()">
          <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
          Solicitar especialista
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title style="font-size: smaller;">SIG Quadra 1 - Centro Empresarial Parque Brasília, Loja 7
    </ion-title>
  </ion-toolbar>
</ion-footer>