<app-header></app-header>

<ion-content>
  <div class="p-2">
    <p-card header="Direito Tributário" [style]="{width: '100%'}" styleClass="p-card-shadow">

      O advogado tributarista presta serviços de natureza judicial e administrativa, promovendo a defesa nas mais
      diversas áreas da esfera tributária. Nosso escritório de advocacia atua com Direito Tributário em Brasília de
      forma integrada, prestando abrangente assessoria jurídica no campo da legislação pertinente aos tributos cobrados
      pelas esferas federais, estaduais e municipais.
      <br><br>
      Não resumimos nossa atuação como advogados tributaristas ao campo das contendas: acreditamos em uma advocacia
      preventiva, voltada para o planejamento de práticas saudáveis, seguras e financeiramente vantajosas para nossos
      clientes.
      <br><br>
      Por isso, oferecemos um serviço completo de atuação, que vai desde o planejamento de estratégias até atividades
      judiciais e administrativas propriamente ditas. Nossa experiência demonstra que essa é a forma mais inteligente de
      trabalhar o Direito Tributário.
      <br><br>
      Saiba mais sobre nossos serviços e entenda como a ação de um bom advogado tributarista agrega eficiência para
      empresas e indivíduos.

      <h2>Planejamento tributário</h2>

      O planejamento tributário é um serviço amplo com um objetivo bastante específico: encontrar o meio legal que torne
      a carga tributária menos onerosa para a sua empresa. Em outras palavras, um advogado especialista em planejamento
      tributário, avalia de que forma uma empresa pode pagar menos tributos sem sair da legalidade.
      <br><br>
      Para isso, são feitas diversas análises, projeções e simulações, incluindo planejamentos futuros da empresa, para
      entender quais são as formas mais benéficas em cada cenário. Esse tipo de planejamento avalia desde o regime
      tributário mais coerente até divisões operacionais, com base nas áreas de atuação da empresa.
      <br><br>
      Com a análise feita, são apresentadas as opções com seus benefícios e dificuldades, bem como uma recomendação do
      escritório. Obviamente, o poder de escolha sempre é do cliente, mas a escolha é ainda mais poderosa quando baseada
      em avaliações precisas e claras dos diferentes cenários.
      <br><br>
      Para quem já conta com um planejamento tributário consolidado, um advogado tributarista pode oferecer uma crítica,
      como uma espécie de revisão, em busca de eventuais pontos de inadequação e possíveis melhorias. A realização da
      crítica de planejamento frequente é importante para garantir que mudanças no direcionamento de uma empresa não
      impliquem em uma inadequação do planejamento anterior.

      <h2>Isenção de Imposto de Renda</h2>

      No direito tributário brasileiro, são previstas algumas situações que fornecem ao cidadão o direito de estar
      isento de imposto de renda sobre alguns de seus rendimentos.
      <br><br>
      Em geral, todos conhecemos a isenção decorrente da faixa de renda, que pode ser parcial ou total, a depender da
      quantidade de ganhos de um indivíduo ao longo de um ano. No entanto, há uma segunda modalidade chamada Isenção de
      Imposto de Renda por Doença Grave. A referida modalidade beneficia pessoas já aposentadas ou reformadas que
      estejam passando por uma circunstância de saúde grave, prevista em lei.
      <br><br>
      Essa é uma garantia existente desde 1988 no ordenamento jurídico brasileiro, e prevê a isenção total sobre os
      proventos da aposentadoria. Não afeta, porém, outros tipos de ganho que o indivíduo possa ter, sendo esses
      tributados normalmente.
      <br><br>
      Para quem adquire o benefício, o valor bruto recebido da aposentadoria não muda, mas o valor líquido disponível
      cresce em função da inexistência do desconto do IRPF, garantindo mais recursos providenciais em uma circunstância
      delicada de saúde.

      <h2>Assessoria e consultoria estratégica</h2>

      Há muito tempo, foi ultrapassada a noção de que a função de um escritório de Direito Tributário é a mera resolução
      dos problemas que ocorrem com empresas e pessoas físicas, pois esse tipo de concepção gera enorme desgaste, riscos
      desnecessários e, sobretudo, custos elevados para o cliente.
      <br><br>
      Não há mais dúvidas de que um modelo de assessoria e consultoria estratégica legal é a forma mais vantajosa de
      lidar com o Direito Tributário. Trata-se de um cenário no qual a decisão já é feita com uma projeção de suas
      consequências legais, com o objetivo de evitar riscos, conhecer suas dimensões ou, até mesmo, reavaliar
      possibilidades. Trata-se de um serviço especialmente importante para clientes que atuem em áreas com diferentes
      peculiaridades tributárias, uma vez que cobranças estaduais e municipais tendem a ser distintas. É a garantia de
      que suas atividades nunca serão surpreendidas em função das regras locais.

      <h2>Recuperação de créditos tributários</h2>

      Não é novidade alguma que o Direito Tributário está entre os mais complicados, em termos de burocracia. Para
      completar, a recuperação de créditos tributários possivelmente figura entre as categorias mais elevadas nesse
      quesito.
      <br><br>
      Em função da dificuldade, é comum que empresas que se enquadram em situações que oferecem créditos tributários
      simplesmente abram mão dos benefícios para evitar trabalho. Nossos advogados em Direito Tributário atuam com a
      convicção de que isso não pode ocorrer: todos os benefícios são garantias da sua empresa, de modo que devem ser
      devidamente desfrutados.
      <br><br>
      Por isso, oferecemos o serviço de recuperação de créditos tributários de forma integral, sem que a empresa precise
      alocar horas de trabalho para entender a situação. Nós fazemos o trabalho enquanto o cliente continua produzindo
      sem preocupação.

      <h2>Acompanhamento permanente</h2>

      Pouco adianta planejar ou oferecer soluções se novas decisões e práticas cotidianas não acompanharem os cuidados
      iniciais tomados. Por isso, oferecemos um acompanhamento permanente, serviço que garante que tudo continue
      ocorrendo de acordo com o planejado, e que eventuais problemas sejam rapidamente identificados e solucionados.
      <br><br>
      Além disso, o acompanhamento permanente oferece uma disponibilidade consultiva frequente ao cliente. Isto é, todas
      as decisões relativas a questões tributárias poderão ser consultadas com o escritório, garantindo que sejam
      escolhas seguras e coerentes com o planejamento tributário adotado.

      <h2>Defesa em execuções fiscais</h2>

      A execução fiscal, estabelecida na Lei n. 6.830/1980, é o procedimento por meio do qual a Fazenda Pública cobra
      judicialmente créditos públicos inscritos em dívida ativa. A Administração Tributária recorre ao Poder Judiciário
      para poder ter seus créditos saldados, por meio da execução do patrimônio do devedor. Em defesas de execuções
      fiscais, a preocupação central do nosso escritório é evitar que as atividades centrais de um empreendimento sejam
      afetadas e, reduzir ao máximo os danos advindos da execução.

      <h2>Por que escolher nosso escritório de Direito Tributário?</h2>

      Nosso escritório nasceu com a missão de oferecer um serviço que englobe as diferentes esferas do Direito, sem
      abrir mão do aprofundamento e da especialização de cada ramo jurídico. Por isso, a multidisciplinaridade,
      resultado da integração e comunicação da especialização de cada um de nossos profissionais em diferentes temas, é
      uma das principais características de nossa equipe.
      <br><br>
      No Direito Tributário, a importância do conhecimento técnico é evidente. Todavia, é a capacidade de integrar
      conhecimentos e agir de forma preventiva que fazem toda a diferença. Nosso serviço não se dedica exclusivamente a
      resolver situações de crise: temos o objetivo de evitar tais situações desde o princípio, evitando desgastes
      emocionais e financeiros para nossos clientes.

      <br><br>
      <center>
        <ion-button color="primary" routerLink="/faleconosco">
          <ion-icon slot="start" name="mail"></ion-icon>
          <b>Fale Conosco</b>
        </ion-button>
      </center>
    </p-card>
  </div>
</ion-content>
