<app-header></app-header>

<ion-content>
  <div class="p-2">

    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Direito Trabalhista</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        O Direito do Trabalho é o ramo jurídico que se dedica a questões ligadas às relações trabalhistas. Uma de suas
        principais características é a existência de uma parte hipossuficiente nos casos, isto é, uma parte considerada
        mais frágil (trabalhador) frente ao poder de decisão da outra parte (empregador).
        <br><br>
        Essa hipossuficiência atribuída ao trabalhador na relação empregatícia é fundamento da proteção legal aos
        trabalhadores, preconizada nos arts. 6º a 11º da Constituição Federal de 1988, que instituem os corolários a
        serem
        seguidos na legislação infraconstitucional que disciplina a matéria, ou seja, na Consolidação das Leis do
        Trabalho
        (CLT).
        <br><br>
        Nossa equipe de advogados trabalhistas atende em diversas categorias profissionais, buscando sempre a justa
        reparação para os direitos que foram suprimidos, sonegados ou sequer adimplidos no curso do contrato de
        trabalho.
        Atendemos trabalhadores das mais variadas categorias profissionais.
        <br><br>
        Conheça, a seguir, as principais causas de atuação do advogado trabalhista.

        <h2>Demissão por justa causa</h2>

        A demissão por justa causa é uma forma de rescisão contratual justificada pela ocorrência de falta grave por
        parte
        do trabalhador, o que ocasiona uma quebra na confiança e na boa-fé sobre as quais se fundam a relação
        empregatícia.
        <br><br>
        As situações das quais podem decorrer esse tipo da extinção contratual estão determinadas em lei, escapando da
        discricionariedade do empregador a definição do ato do trabalhador como justa causa.
        <br><br>
        Assim, apenas podem levar a demissão por justa causa as seguintes condutas, nos termos do artigo 482 da CLT:

        <ul>
          <li>Ato de improbidade;</li>
          <li>Incontinência de conduta ou mau procedimento;</li>
          <li>Negociação habitual por conta própria ou alheia sem permissão do empregador quando constituir ato de
            concorrência
            à empresa para a qual trabalha o empregado ou for prejudicial ao serviço;</li>
          <li>Condenação criminal do empregado, passada em julgado, caso não tenha havido suspensão da execução da pena;
          <li>Desídia no desempenho das respectivas funções;</li>
          <li>Embriaguez habitual ou em serviço;</li>
          <li>Violação de segredo da empresa;</li>
          <li>Ato de indisciplina ou insubordinação;</li>
          <li>Abandono de emprego;</li>
          <li>Ato lesivo da honra ou da boa fama praticado no serviço contra qualquer pessoa ou ofensas físicas nas
            mesmas
            condições, salvo em caso de legítima defesa própria ou de outrem;</li>
          <li>Ato lesivo da honra ou da boa fama ou ofensas físicas praticadas contra o empregador e superiores
            hierárquicos,
            salvo em caso de legítima defesa própria ou de outrem;</li>
          <li>Prática constante de jogos de azar e</li>
          <li>Perda da habilitação ou dos requisitos estabelecidos em lei para o exercício da profissão em decorrência
            de
            conduta dolosa do empregado.</li>
        </ul>

        <h2>Adicional de periculosidade e insalubridade</h2>

        Para preservar a saúde do trabalhador, existem as Políticas de Saúde e Segurança do Trabalho, que estabelecem
        normas que devem ser seguidas para garantir a salubridade dos ambientes de trabalho. Contudo, muitos
        empregadores
        não respeitam essas normas, apresentando condições insalubres de trabalho.
        <br><br>
        Por esse motivo, as Normas Regulamentadoras de números 15 e 16 do Ministério do Trabalho e Emprego (MTE) elencam
        as atividades que são consideradas insalubres e perigosas e os seus limites de tolerância para que, caso esses
        limites sejam ultrapassados, sejam conferidas vantagens aos trabalhadores para minimizar esses efeitos.
        <br><br>
        Quando se trata de situação de risco à saúde, o adicional recebe o nome de adicional de insalubridade. Quando,
        por
        sua vez, as condições inadequadas de trabalho colocam em risco a integridade física do trabalhador, o nome dado
        ao
        adicional é adicional de periculosidade.

        <h2>Rescisão indireta</h2>

        A rescisão indireta ocorre quando o empregador descumpre o contrato de trabalho, não exercendo as suas
        obrigações
        ou exigindo do trabalhador, esforços que vão além dos deveres impostos pelo vínculo empregatício. A rescisão
        indireta é equiparada a demissão por justa causa, porém, nessa hipótese, a falta grave é cometida pelo
        empregador.
        <br><br>
        São hipóteses de rescisão indireta o recolhimento irregular do FGTS, atrasos no pagamento do salário,
        constrangimento ou assédio moral, exigência de atividade diversa da prevista em contrato e tratamento
        excessivamente rigoroso.

        <h2>Hora extra</h2>

        O direito a receber hora extra está configurado quando o empregado labora além da sua jornada, recebendo, para
        tanto, um aumento em sua remuneração. O valor da hora extra, nos termos da legislação vigente, corresponde ao
        valor pago pela hora normalmente trabalhada com um acréscimo de 50%.
        <br><br>
        Existem, contudo, hipóteses nas quais, em razão do cargo que ocupa, o empregado não pode receber essa vantagem.
        É
        o caso, por exemplo, dos gerentes e gestores de uma empresa.
        <br><br>
        Cabe destacar, ainda, que também é hipótese de concessão de horas extras a supressão ou a não concessão de
        intervalo intrajornada.

        <h2>Reconhecimento de vínculo</h2>

        O reconhecimento do vínculo empregatício talvez seja o pedido mais frequente nas reclamações trabalhistas, pois,
        apesar do fato de a importância e obrigatoriedade da anotação da relação trabalhista na Carteira de Trabalho e
        Previdência Social (CTPS) ter sido bastante difundida nos últimos anos, ainda existem muitos empregadores que
        desrespeitam essa regra, diminuindo o ônus que possuem com a contratação.
        <br><br>
        Ocorre, no entanto, que, no Direito do Trabalho, é aplicado o princípio da primazia da realidade, conforme o
        qual
        os fatos devem prevalecer sobre os ajustes formais. Assim sendo, mesmo que o vínculo empregatício não esteja
        formalizado, a lei favorece o trabalhador, bastando comprovar a existência dos requisitos para a sua
        configuração,
        como o exercício de atividade laboral por pessoa física de modo pessoal, habitual, oneroso e sob subordinação do
        empregador.

        <h2>A importância do advogado trabalhista</h2>

        O advogado trabalhista é o principal instrumento para a defesa dos interesses dos trabalhadores, visto ser o
        profissional que irá defender o trabalhador quando este tiver algum de seus direitos infringidos pelo
        empregador.
        <br><br>
        Ficou alguma dúvida? Precisa de auxílio nessa esfera? Somos um escritório de advocacia especialista em Direito
        do
        Trabalho.

        <br><br>
        <div class="center">
          <ion-button routerLink="/faleconosco">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            FALE CONOSCO
          </ion-button>
        </div>
      </ion-card-content>

    </ion-card>

  </div>
</ion-content>