<app-header></app-header>

<ion-content>
  <div class="p-2">

    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Direito Empresarial</ion-card-title>
      </ion-card-header>

      <ion-card-content>


        Em nosso escritório de advocacia, nosso advogado empresarial opera ao nível multidisciplinar de modo a
        resguardar
        os interesses de nossos clientes. Para tanto, nosso departamento voltado para a área empresarial conta com
        consultores aptos a atuar tanto na esfera preventiva quanto na esfera
        contenciosa.
        <br><br>
        Sob a égide do conceito da economia legal e em busca por soluções rápidas, seguras e inovadoras que antecedam o
        conflito judicial, priorizamos a advocacia consultiva no ramo empresarial como forma de garantir melhores
        resultados econômicos e, ainda, a melhor defesa em casos nos quais a judicialização contenciosa seja inevitável.
        <br><br>
        Temos vasta experiência no que se refere às demandas administrativas e judiciais nas diversas instâncias.
        Portanto, possuímos conhecimento e experiência para tratar das importantes questões que permeiam esse meio,
        como:

        <ul>
          <li>Recuperação de Empresas;</li>
          <li>Falência;</li>
          <li>Sociedade Empresária;</li>
          <li>Propriedade Intelectual;</li>
          <li>Responsabilidade Civil da Empresa.</li>
          <li>Além das demandas acima, o advogado empresarial atua para empresas em todas às áreas do Direito na defesa
            dos
            nossos clientes pessoas jurídicas, ou seja, atua como escritório full-service também em áreas como
            Consumidor,
            Trabalhista, Tributário, Societário, Contratos e Administrativo, sempre com uma visão empresarial embasada
            em
            dados e teses jurídicas de reconhecido êxito.</li>
        </ul>

        A seguir, trazemos explicações sobre os principais temas do Direito Empresarial com os quais trabalhamos.

        <h2>Recuperação de empresas e falência</h2>

        A Lei n. 11.101/05, chamada de Lei de Recuperação e Falências, é a norma que trata acerca da falência, da
        recuperação judicial e da recuperação extrajudicial das empresas.
        <br><br>
        Alguns princípios norteiam essa norma. Dentre eles, temos:

        <ul>
          <li>Interesse social;</li>
          <li>Função social da empresa;</li>
          <li>Dissociação entre os interesses do empresário e os da empresa;</li>
          <li>Proteção do crédito;</li>
          <li>Isonomia de tratamento concursal dos credores;</li>
          <li>Princípio da realidade da execução;</li>
          <li>Preservação da empresa.</li>
          <li>Recuperação de empresas
            A recuperação de empresas é um mecanismo por meio do qual uma empresa que se encontra com dificuldades
            financeiras
            pode tentar se recuperar, não vindo a falir.</li>
        </ul>

        Uma vez que o objetivo do mecanismo da recuperação é reerguer empresas que possuem potencial de se manter no
        mercado, podem pedir recuperação apenas empresas com mais de dois anos, pois se entende que essas empresas
        teriam
        funcionado bem no passado, apresentando, portanto, a possibilidade real de se recuperarem de fato dos problemas
        que estão enfrentando.
        <br><br>
        Existem dois tipos de recuperação de empresas: a judicial e a extrajudicial.

        <h2>Recuperação judicial</h2>

        Na recuperação judicial, como o próprio nome indica, entra-se com o pedido de recuperação da empresa em juízo.

        <h2>Quem pode pedir a recuperação judicial?</h2>

        A recuperação judicial pode ser pedida em juízo pelo devedor (a empresa) com o auxílio de seu advogado
        empresarial.
        <br><br>
        O art. 48 da Lei de Recuperação e Falências estabelece os requisitos objetivos para se requerer a recuperação
        judicial:
        <ul>
          <li>Não ser falido e, se o tiver sido, que estejam declaradas extintas, por sentença transitada em julgado, as
            responsabilidades dali decorrentes;</li>
          <li>Não ter, há menos de cinco anos, obtida concessão de recuperação judicial (com base em plano especial ou
            não);</li>
          <li>Não ter sido condenado ou não ter, como administrador ou sócio controlador, pessoa condenada por algum dos
            crimes
            previstos na Lei de Recuperação e Falências.</li>
          <li>O que é o plano de recuperação judicial?</li>
          <li>O plano de recuperação judicial é o documento que apresenta o planejamento de como a recuperação judicial
            se
            dará.</li>
          <li>Ele deve ser apresentado em juízo em até sessenta dias depois de iniciado o pedido de recuperação
            judicial.
          </li>
        </ul>

        <h2>Quem é o administrador judicial?</h2>

        Na recuperação judicial, quem estava administrando a empresa continua a fazê-lo. A função do administrador
        judicial é fiscalizar os atos do administrador da empresa nesse cenário.

        No entanto, em alguns casos, o até então administrador da empresa é afastado de seu cargo. Nesses casos,
        temporariamente, o administrador judicial assume tal função até que seja escolhido gestor judicial para isso, o
        qual também será, então, fiscalizado pelo administrador judicial.
        <br><br>
        Vale destacar que o trabalho do administrador judicial é pago pela empresa em recuperação judicial e que o
        administrador judicial, apesar de ser obrigatório, não pode impedir o plano, mas, apenas, pedir em juízo que
        esse
        não seja aplicado.

        <h2>Qual é o papel do juiz na recuperação judicial?</h2>

        O papel do juiz é avaliar o plano de recuperação judicial no plano da legalidade. É importante compreender que
        não
        cabe ao magistrado fazer a análise econômica do plano.

        <h2>O que é o Comitê de Credores?</h2>

        Os credores são aqueles para os quais a empresa deve dinheiro.

        Estabelecido no art. 26 da Lei de Recuperação e Falências, o Comitê de Credores foi pensado com o objetivo de
        fazer com que cada classe de credores tivesse uma representação para fiscalizar o processo de recuperação
        judicial.
        <br><br>
        Na prática, porém, esse comitê não é constituído na maioria dos casos, pois todos os credores fiscalizam o
        processo de recuperação judicial como um todo.

        <h2>O que é a Assembleia Geral de Credores (AGC)?</h2>

        A Assembleia Geral de Credores (AGC) é uma assembleia formada por todos os credores da empresa. Ela é soberana.
        <br><br>
        A AGC é um órgão de caráter deliberativo e pode ser convocada pelo juiz, pelo administrador, pelo Comitê de
        Credores ou pelos próprios credores.
        <br><br>
        A assembleia é presidida pelo administrador judicial, que deverá organizar o debate, respeitar o edital, fazer a
        deliberação e colher os votos dos membros.

        <h2>Quem pode votar na Assembleia Geral de Credores?</h2>

        O art. 41 da Lei de Recuperação e Falências versa sobre a composição da Assembleia Geral de Credores. Segundo
        ele,
        a assembleia é composta pelas seguintes classes de credores:

        <ul>
          <li>Titulares de créditos derivados da legislação do trabalho ou decorrentes de acidentes de trabalho;</li>
          <li>Titulares de créditos com garantia real;</li>
          <li>Titulares de créditos quirografários (ou seja, créditos simples), com privilégio especial, com privilégio
            geral
            ou
            subordinados;</li>
          <li>Titulares de créditos enquadrados como microempresa ou empresa de pequeno porte.</li>
          <li>É interessante destacar, ainda, que existem credores que podem participar da assembleia sem poder,
            contudo,
            votar.</li>
          <li>Entre eles, estão os titulares de créditos não compulsoriamente sujeitos ao plano de recuperação judicial
            e
            os
            chamados credores retardatários (titulares de créditos posteriores à data do pedido de recuperação), por
            exemplo.</li>
        </ul>

        <h2>Como se dá a votação na Assembleia Geral de Credores?</h2>

        A votação na Assembleia Geral de Credores é feita por classe de credores. A votação é feita internamente dentro
        da
        classe de credores e, depois, se computam os votos pela aprovação ou recusa do plano por classe. O plano só é
        aprovado se todas as classes, ou a maioria delas, votarem pela sua aprovação.
        <br><br>
        O voto na Assembleia Geral de Credores é feito, em regra, proporcionalmente ao valor do crédito. Todavia, existe
        uma exceção à essa regra, os votos dos trabalhadores, os quais são computados por cabeça.

        <h2>Afinal, como se dá o processo de recuperação judicial em si?</h2>

        O processo de recuperação judicial é algo complexo. Aqui, tentaremos explicá-lo de maneira bastante resumida.
        <br><br>
        O processo de recuperação judicial possui duas fases, a fase administrativa e a fase judicial. Na primeira, é
        elaborada lista com todos os credores da empresa que pretende entrar em recuperação e seus respectivos créditos.
        <br><br>
        Ao fim da fase administrativa, termina também o prazo para apresentação do plano de recuperação judicial e
        inicia-se, então, já com o plano elaborado, a fase judicial do processo.
        <br><br>
        Nessa fase, há mais um momento para análise da lista de credores e prazos para que Ministério Público, Comitê de
        Credores e administrador judicial, nessa ordem, respondam a última impugnação.
        <br><br>
        Por fim, ocorre a Assembleia Geral de Credores. Se o plano de recuperação judicial for aprovado pela assembleia,
        ele é homologado e a empresa entra em recuperação judicial. Se, contudo, ele for rejeitado, o caminho a ser
        seguido pela empresa será o da falência.

        <h2>Recuperação extrajudicial</h2>

        A recuperação extrajudicial, diferentemente do que ocorre na recuperação judicial, não tem por objeto a crise
        generalizada da empresa, mas, sim, aspectos mais pontuais, o que faz com que esse tipo de recuperação seja mais
        simples do que a recuperação judicial.
        <br><br>
        Na recuperação extrajudicial, é firmado um acordo especial entre o devedor e alguns de seus credores visando a
        solução apenas desses aspectos críticos pontuais.
        <br><br>
        Esse tipo de recuperação ocorre na tentativa de resolver a dívida com uma classe específica de credores da
        empresa
        que representam o motivo pelo qual a empresa não está bem.
        <br><br>
        Aqui, não há abertura de contraditório e o plano é feito extrajudicialmente e com a anuência dos credores.
        <br><br>
        Diferentemente do que ocorre na recuperação judicial, não podem ser compreendidos créditos trabalhistas,
        tributários e o plano de recuperação não precisa abarcar todos os credores.
        <br><br>
        Contudo, é importante destacar que é proibido que o devedor pague os credores que aderiram ao plano de maneira
        preferencial em razão dos que não aderiram ao plano.
        <br><br>
        Se todos os credores incluídos no plano de recuperação extrajudicial concordarem com o plano, sua homologação em
        juízo é facultativa. Se, por sua vez, nem todos os credores concordarem com o plano, sua homologação em juízo é
        obrigatória.

        <h2>Falência</h2>

        A falência pode se dar de duas maneiras, direto ou por meio da convolação da recuperação judicial em falência.
        <br><br>
        A falência representa a "morte" da empresa, que passa a ser chamada de massa falida.

        <h2>Quem pode pedir a falência de uma empresa?</h2>

        Em geral, podem pedir a falência de uma empresa os mesmos indivíduos que podem pedir sua recuperação judicial,
        com
        exceção, em alguns casos, dos herdeiros do devedor.

        <h2>Quais são os efeitos da falência?</h2>

        Os efeitos da falência são vários. Entre eles, podemos destacar:
        <ul>
          <li>Inabilitação do falido para exercer qualquer atividade empresarial a partir da decretação da falência até
            a
            sentença que extingue suas obrigações;</li>
          <li>Perda, por parte do falido, do direito de administrar seus bens ou deles dispor;</li>
          <li>Quando a falência é decretada, dívidas que só seriam pagas depois já passam a ser contadas a partir do
            momento de decretação da falência.</li>
        </ul>

        <h2>O que são créditos concursais e extraconcursais?</h2>

        Os arts. 83 e 84 da Lei de Recuperação de Falências tratam, respectivamente, sobre os créditos concursais e
        extraconcursais.
        <br><br>
        São considerados créditos concursais:

        <ul>
          <li>Os créditos derivados da legislação do trabalho, limitados a 150 salários-mínimos por credor, e os
            decorrentes
            de
            acidentes de trabalho;</li>
          <li>Créditos com garantia real até o limite do valor do bem gravado;</li>
          <li>Créditos tributários, independentemente da sua natureza e tempo de constituição, excetuadas as multas
            tributárias;</li>
          <li>Créditos com privilégio especial;</li>
          <li>Créditos com privilégio geral;</li>
          <li>Créditos quirografários;</li>
          <li>As multas contratuais e as penas pecuniárias por infração das leis penais ou administrativas, inclusive as
            multas
            tributárias;</li>
          <li>Créditos subordinados.</li>
        </ul>

        Por sua vez, são considerados créditos extra-concursais:

        <ul>
          <li>Remunerações devidas ao administrador judicial, seus auxiliares e créditos derivados da legislação do
            trabalho ou
            decorrentes de acidentes de trabalho relativos a serviços prestados após a decretação da falência;</li>
          <li>Quantias fornecidas à massa falida pelos credores;</li>
          <li>Despesas com arrecadação, administração, realização do ativo e distribuição do seu produto, bem como
            custas
            do
            processo de falência;</li>
          <li>Custas judiciais relativas às ações e execuções em que a massa falida tenha sido vencida;</li>
          <li>Obrigações resultantes de atos jurídicos válidos praticados durante a recuperação judicial ou após a
            decretação da
            falência, e tributos relativos a fatos geradores ocorridos após a decretação da falência.</li>
        </ul>

        <h2>Em qual ordem os créditos devem ser pagos?</h2>

        Primeiro, são pagos os créditos extra-concursais. Por último, os créditos concursais.

        <h2>O que são pedidos de restituição?</h2>

        Pedidos de restituição são pedidos para se retirar do patrimônio da massa falida tudo o que nela está e a ela
        não
        pertence. Isso ocorre para que só reste na massa falida o que de fato pertence a ela para que, então, as dívidas
        da empresa possam ser pagas com esse patrimônio.

        <h2>Como se dá o processo de falência em si?</h2>

        Com a entrada do pedido de falência, há, no caso de a falência não ter sido pedida pelo devedor, a contestação.
        Em
        seguida, há a decretação da falência, que ocorre direto depois do pedido de falência nos quais a falência é
        pedida
        pelo próprio devedor.
        <br><br>
        Depois, há a arrecadação dos bens, acima mencionada, e o pagamento dos credores.
        <br><br>
        Após a realização do pagamento dos credores, é declarada a segunda sentença da falência, com a aprovação das
        contas.
        <br><br>
        Por fim, será verificado se ainda existem contas a serem pagas pela massa falida e será decretada a terceira e
        última sentença do processo de falência, a sentença de extinção das obrigações.

        <h2>Sociedade Empresária</h2>

        Sociedades empresárias são conjuntos de pessoas que, mediante registro para tal, exercem alguma atividade
        econômica.
        <br><br>
        A seguir, explicaremos um pouco mais sobre os quatro principais tipos de sociedades empresárias.

        <h2>Sociedade limitada</h2>

        A sociedade limitada (LTDA) é um dos tipos mais comuns de sociedade empresária no país. Nela, um ou mais sócios
        constituem sociedade mediante registro na Junta Comercial do estado da federação no qual a sociedade atua.
        <br><br>
        Nesse tipo de sociedade, cada sócio só responde pela sua parte e há a separação do patrimônio da sociedade e dos
        sócios.

        <h2>Sociedade anônima</h2>

        A sociedade anônima, diferente da sociedade limitada, é um modelo de sociedade adotado, geralmente, por empresas
        maiores.
        <br><br>
        Nesse tipo de sociedade, não existem quotas de participação e sócios, mas, sim, ações e acionistas. Nas
        sociedades
        anônimas, os acionistas compram ações da empresa, tendo sua responsabilidade limitada ao valor de suas ações.
        <br><br>
        O capital social da empresa pode ser aberto, quando suas ações são negociadas na Bolsa de Valores, ou fechado,
        quando esse tipo de negociação não é possível.

        <h2>Sociedade em nome coletivo</h2>

        Diferentemente do que ocorre nas duas modalidades de sociedade explicadas anteriormente, nas sociedades em nome
        coletivo, todos os sócios, que só podem ser pessoas físicas, respondem solidária e ilimitadamente pelas
        obrigações
        da empresa.
        <br><br>
        Sociedade em comandita simples
        Nesse tipo de sociedade, há dois tipos de sócios, cada qual com responsabilidades distintas. Há os sócios
        comanditados e os sócios comanditários. Aqueles são responsáveis pelas obrigações fiscais e financeiras da
        empresa
        enquanto estes respondem apenas no que se refere à sua quota.

        <h2>Propriedade Intelectual</h2>

        Todo negócio depende de algum tipo de conhecimento específico, seja ele um processo, uma técnica, uma marca, um
        código ou um método. Desse modo, a propriedade intelectual é um bem central que merece a atenção de uma equipe
        jurídica competente.
        <br><br>
        A blindagem de propriedade intelectual é a única maneira de garantir que um elemento singular do negócio como os
        acima mencionados não deixe de ser uma força para se tornar uma ameaça para a longevidade do empreendimento.
        <br><br>
        Blindar significa proteger todos os pontos de fragilidade antes que eles sejam atingidos. É necessário registrar
        a
        sua marca e proteger a sua empresa de outros empreendimentos que possam entrar em contato com a sua propriedade
        intelectual relevante e, até mesmo, de antigos empregados que, ao sair da empresa, levem consigo o potencial de
        reaplicar o conhecimento singular de sua empresa em outro negócio.
        <br><br>
        Por meio da consultoria jurídica, é possível se prevenir desse tipo de situação. Uma consultoria executada com
        atenção, conhecendo a fundo o negócio do cliente, identifica os pontos de possível fragilidade da sua empresa
        nesse sentido e os protege antes que outros negócios ou pessoas se aproveite disso em benefício próprio.

        <h2>Responsabilidade Civil da Empresa</h2>

        O art. 297 do Código Civil estabelece que “aquele que, por ato ilícito, causar dano a outrem, fica obrigado a
        repará-lo”, independentemente da existência de culpa.
        <br><br>
        Desse modo, a responsabilidade civil da empresa está relacionada à obrigação que as empresas têm de responder na
        esfera civil sobre danos causados por ela, seus bens, seus produtos ou sua equipe enquanto no exercício da
        atividade profissional a terceiros.

        <h2>A importância de se contratar um advogado empresarial</h2>

        Para auxiliar você e sua empresa em todas as questões aqui elencadas e muitas outras, o advogado empresarial é
        de
        grande importância.
        <br><br>
        Ficou alguma dúvida? Gostaria de conversar com um de nossos advogados? Entre em contato! Nossa equipe terá
        prazer em atender você!

        <br><br>
        <div class="center">
          <ion-button routerLink="/faleconosco">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            FALE CONOSCO
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>