<app-header></app-header>

<ion-content>

    <div class="p-2">
        <p-card header="Direito Criminal" [style]="{width: '100%'}" styleClass="p-card-shadow">


            <div style="text-align: justify;">
                <b>Advogados Especialistas em Direito Criminal</b><br><br>

                <table width="100%">
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Defesa em inquérito policial
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crime contra patrimônio
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Habeas corpus
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crimes contra a dignidade sexual
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Revisão criminal
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Pedido de liberdade provisória
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crimes contra a honra
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crimes contra a administração pública
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crimes contra a pessoa
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Furto qualificado
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Acompanhamento em delegacia
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Estelionato
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crimes econômicos
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Prisão preventiva
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Maria da penha
                        </td>
                        <td width="5%"></td>
                        <td class="p-2">
                            <ion-icon name="checkmark-outline"></ion-icon> Crimes de tráfico
                        </td>
                    </tr>
                </table>
            </div>
            <br>

            <h2>Audiência de custódia</h2>

            Em casos de prisão em flagrante, a audiência de custódia é a garantia legal contra abusos ou más avaliações
            do
            sistema judiciário. Trata-se de um direito garantido pelo Pacto de San José da Costa Rica, estabelecendo uma
            avaliação legal obrigatória da situação, mesmo quando relatado o flagrante.
            <br><br>
            Contar com um bom escritório de advogado criminalista desde este primeiro momento é essencial para evitar
            abusos
            ou estratégias de pressão contra a pessoa presa. Como advogados que lutam por uma defesa ampla e irrestrita,
            nosso escritório se coloca à disposição de seus clientes desde o primeiro momento.


            <h2>Crimes contra a pessoa e a liberdade</h2>

            Crimes contra a pessoa e a liberdade são crimes que atentam contra a integridade física ou a liberdade de
            alguém.
            <br><br>
            No Brasil, os únicos crimes que podem ser levados ao tribunal do júri (tribunal formado por cidadãos) são
            homicídio e infanticídio, que são crimes contra a pessoa e a liberdade.
            <br><br>
            Devido a isso e ao fato de que esses crimes tratam de acusações graves relacionadas a temas sensíveis, um
            escritório de advocacia criminalista é especialmente importante nesses cenários. Alguns exemplos de crimes
            desta
            natureza são:
            <br><br>
            <ul>
                <li>Homicídio tentado e consumado;</li>
                <li>Infanticídio;</li>
                <li>Aborto;</li>
                <li>Lesões corporais;</li>
                <li>Violência doméstica;</li>
                <li>Abandono;</li>
                <li>Omissão de socorro;</li>
                <li> Rixa;</li>
                <li>Ameaça;</li>
                <li> Sequestro;</li>
                <li>Crimes contra honra.</li>
            </ul>

            Entre os crimes contra a pessoa, cabe destacar os crimes contra a honra. Conhecidos por suas espécies
            (calúnia,
            injúria e difamação), eles podem gerar danos significativos, desenrolando-se tanto na esfera penal, quanto
            na
            esfera civil.
            <br><br>
            Desse modo, mostra-se conveniente contar com um escritório que consiga reunir advogados criminalistas
            experientes e civilistas igualmente capazes, gerando unidade na defesa.


            <h2>Violência Doméstica – Lei Maria da Penha</h2>

            Um escritório de Direito Criminal com experiência também costuma lidar com casos de violência doméstica,
            popularmente associados à Lei Maria da Penha. Nesses cenários, a violência ocorre dentro do ambiente
            doméstico, tratando do âmbito íntimo das relações de poder.
            <br><br>
            O serviço da defesa é, neste caso, evitar abusos durante o processo e o suporte necessário para que os danos
            sejam minimizados, evitando que uma acusação afete o transcorrer de toda uma vida.


            <h2>Crimes contra a fé pública</h2>

            Os crimes contra a fé pública são aqueles que atentam contra informações, documentos e questões financeiras,
            diretamente, ligados ao funcionamento socioeconômico da sociedade em seus aspectos práticos.
            <br><br>
            Normalmente, são ligados à noção de falsificação que afeta o interesse público de forma mais direta que os
            interesses individuais, colocando em risco todo o sistema de validação burocrática. Exemplos de crimes
            contra a fé pública são:

            <ul>
                <li>Moeda falsa;</li>
                <li>Falsificação de papéis públicos;</li>
                <li>Falsificação de documentos;</li>
                <li>Falsidade ideológica;</li>
                <li>Uso de documento falso.</li>
            </ul>



            <h2>Crimes contra o patrimônio</h2>

            Os crimes contra o patrimônio, como o próprio nome indica, são aqueles que atentam contra a propriedade
            individual. Eles podem se dar com confronto, geralmente violento, com a vítima; sem confronto ou por meio de
            estratégias que objetivam enganar a vítima.
            <br><br>
            Entre os crimes contra o patrimônio, destacam-se:
            <ul>
                <li>Furto e roubo;</li>
                <li>Extorsão;</li>
                <li>Dano;</li>
                <li>Apropriação indébita;</li>
                <li>Fraude;</li>
                <li>Receptação.</li>
                <li>Estelionato</li>
            </ul>

            Ainda dentro dos crimes patrimoniais, destaca-se com muita frequência o estelionato entre as defesas mais
            comuns na rotina de um advogado criminal. Trata-se de uma acusação de prática de fraude, golpe ou enganação
            com reconhecida má-fé, com o objetivo de benefício próprio ou alheio.

            <h2>Direito Penal Empresarial</h2>


            O Direito Penal ligado à área empresarial configura parte da atividade de um escritório de advocacia
            criminal, pois ultrapassa a natureza jurídica de uma empresa para punir os indivíduos que efetivamente
            praticaram crimes nessa esfera ou aqueles que permitiram que eles ocorressem sob sua responsabilidade.
            <br><br>
            Nesses cenários, advogados criminais experientes são excepcionalmente importantes, pois, nessas situações, é
            comum indivíduos serem acusados de cometer crimes que sequer sabiam que estavam ocorrendo.
            <br><br>

            Entre os crimes mais comuns nessa categoria, estão:

            <ul>
                <li>Crimes contra a ordem econômica e tributária (crimes fiscais, de “colarinho branco”, sonegação);
                </li>
                <li>Crimes falimentares e societários;</li>
                <li>Lavagem de dinheiro;</li>
                <li>Evasão de divisas.</li>
                <li>Crimes eletrônicos</li>
            </ul>

            Os crimes eletrônicos já não podem mais ser considerados uma grande novidade no meio jurídico. Mesmo assim,
            ainda são um tanto incomuns para grande parte dos escritórios de advocacia.
            <br><br>

            No escritório do Dr. Israel Paulino, a tecnologia sempre foi um tema que circulou entre nossas atividades,
            dentro do Direito Civil e também do Direito Criminal. Por isso, contamos com equipe de advogados capazes e
            apta a desenvolver um trabalho de destaque na área do Direito Digital.

            <h2>Crimes Ambientais</h2>

            O Direito Criminal também pode ser associado ao Direito Ambiental quando o assunto são os crimes ambientais.
            Esses crimes ferem os direitos coletivos, não tendo um indivíduo específico como vítima, o que torna sua
            defesa mais complexa.
            <br><br>

            Entre os crimes ambientais de maior destaque, podemos citar:

            <ul>
                <li>Crimes contra a fauna e flora, como desmatamento e corte de vegetação;</li>
                <li>Crimes de poluição;</li>
                <li>Crimes contra o ordenamento urbano e o patrimônio cultural;</li>
                <li>Crimes contra a administração ambiental, os quais acarretam em multas.</li>
            </ul>


            <h2>Crimes contra os costumes</h2>

            Os crimes contra os costumes fazem referência a atividades ilícitas que afetam valores morais vigentes da
            sociedade. Entre os crimes inseridos nessa categoria, destacam-se os chamados crimes sexuais, diretamente
            ligados a práticas de natureza sexual. Entre eles, temos atentado violento ao pudor, posse sexual mediante
            fraude, assédio sexual, corrupção de menores, favorecimento à prostituição e ato obsceno.

            <h2>Direito Penal Médico</h2>

            O Direito Médico, por sua vez, também se relaciona ao Direito Criminal. O Direito Penal Médico é aquele que
            trata de erros ou atos dolosos que atentem contra as práticas que tornam a medicina confiável, bem como
            aquelas que afetem a saúde pública por atos falsos, omissos ou danosos.
            <br><br>

            É importante ressaltar que o Direito Penal Médico ocorre de forma separada (e, por vezes, concomitante) ao
            Direito Civil. O Direito Civil está relacionado, por exemplo, a pedidos de indenização. O Direito Penal
            Médico, por sua vez, relaciona-se a práticas como:

            <ul>
                <li>Omissão de socorro;</li>
                <li>Lesão corporal;</li>
                <li>Exercício ilegal da Medicina, da Odontologia ou na Área Farmacêutica;</li>
                <li>Charlatanismo;</li>
                <li>Curandeirismo;</li>
                <li>Omissão de notificação de doença;</li>
                <li>Violação de segredo profissional;</li>
                <li>Falsidade de atestado médico.</li>
                <li>Desse modo, alinhar essas duas áreas é uma tarefa importante do escritório que atua com o Direito
                    Penal</li>
                <li>Médico, pois isso ajuda a garantir a coesão das defesas.</li>
            </ul>

            <h2>Crimes contra a Administração Pública</h2>

            Crimes contra a Administração Pública podem ser causados por servidores públicos ou indivíduos comuns que
            cometam atos que atentem contra as boas práticas de toda a máquina pública.
            <br><br>
            É importante notar que existem crimes contra a Administração Pública punidos em esfera penal e crimes contra
            a Administração Pública resolvidos dentro da esfera Administrativa, os quais passam por procedimentos
            internos especiais.
            <br><br>

            Entre os crimes contra a Administração Pública, destacam-se:

            <ul>
                <li>Dispensa/Fraude em licitação;</li>
                <li>Responsabilidade fiscal;</li>
                <li>Peculato;</li>
                <li>Concussão;</li>
                <li>Corrupção passiva;</li>
                <li>Prevaricação;</li>
                <li>Abandono de função;</li>
                <li>Desobediência;</li>
                <li>Desacato;</li>
                <li>Tráfico de influência;</li>
                <li>Contrabando;</li>
                <li>Falso testemunho;</li>
                <li>Coação;</li>
                <li>Fraude processual.</li>
            </ul>

            <h2>Direito Penal Consumerista</h2>

            Raramente associadas à noção penal, as relações de consumo podem exigir que advogados criminalistas de
            defesa entrem em ação, uma vez que algumas práticas comerciais, como cartel, monopólio e propaganda
            enganosa, por exemplo, configuram crimes.

            <h2>Direito Penal Eleitoral</h2>

            O Direito Penal Eleitoral, por sua vez, como o próprio nome indica, está relacionado a práticas eleitorais
            irregulares que afetem o funcionamento do sistema democrático nacional. Trata-se de crimes graves, exigindo,
            portanto, uma defesa comprometida. Entre esses crimes, estão:

            <ul>
                <li>Coação;</li>
                <li>Compra de votos;</li>
                <li>Violação do sigilo de voto;</li>
                <li>Propaganda eleitoral irregular.</li>
                <li>Crimes de tráfico</li>
            </ul>


            Crimes de tráfico exigem a presença de um escritório de advogado criminalista capaz de compreender e
            apontar, em termos legais, as perspectivas subjetivas da acusação.
            <br><br>
            
            Uma acusação injusta ou excessivamente pesada pode gerar danos irreversíveis para a vida de um indivíduo, de
            modo que esse é um fator que precisa ser tratado com cuidado pela defesa de forma a traçar uma estratégia
            que busque a minimização dos danos para o cliente.

            <h2>Porte ilegal de armas</h2>

            O porte ilegal de armas também é um crime altamente dependente da estratégia de defesa do advogado
            criminalista. É necessário contar com um escritório atento à realidade vivida pelo cliente, de forma a
            reduzir qualquer suspeita que eleve a gravidade da situação.

            <br><br>
            <center>
                <ion-button color="primary" routerLink="/faleconosco">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <b>Fale Conosco</b>
                </ion-button>
            </center>
        </p-card>
    </div>

</ion-content>