<ng-container *ngIf="isBrowser">
  <ion-app>
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <img src="./assets/logo.png" class="invertable pr-2" />
        <ion-list id="inbox-list">
          <ion-list-header></ion-list-header>
          <ion-note></ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [href]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon *ngIf="p.icon" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label><b>{{ p.title }}</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <app-header></app-header>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="whatsapp()" color="success">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-app>
</ng-container>
<ng-container *ngIf="!isBrowser">
  <app-header></app-header>
  <router-outlet></router-outlet>
</ng-container>
