<app-header></app-header>

<ion-content>
  <div class="p-2">
    <p-card header="Direito Médico" [style]="{width: '100%'}" styleClass="p-card-shadow">

      <table width="100%">
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Complicações pós-operatórias
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Cirurgia plástica estética
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Cirurgia reparadora
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Erro de diagnóstico
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Cirurgias em geral
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Atendimento recém-nascido
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Omissão de socorro
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Implante dentário
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Recusa de atendimento médico
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Acidente anestésico em neurocirurgia
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Infecção hospitalar pós-cirurgica
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Infecção hospitalar durante cesariana
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Sofrimento fetal por retardamento do parto
          </td>
          <td width="5%"></td>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Procedimentos odontológicos
          </td>
        </tr>
        <tr>
          <td class="p-2">
            <ion-icon name="checkmark-outline"></ion-icon> Indenização por erro médico
          </td>
          <td width="5%"></td>
          <td class="p-2">

          </td>
        </tr>
      </table>
      <br>
      Apesar de a Medicina ser uma ciência consolidada, o Direito da Medicina é um tema relativamente recente, consiste
      na judicialização de temas que envolvem a Medicina, possuindo algumas classes. Entre elas, encontra-se o Direito
      do Médico, onde é relacionado à indenização por erros médicos e hospitalares.

      <h2>Qual a diferença entre o erro médico e o erro hospitalar?</h2>

      Antes de apontarmos as diferenças práticas entre o erro médico e o erro hospitalar, é necessário conceituar um do
      outro, na perspectiva do Direito Médico, com um todo, para compreendermos a responsabilização do hospital por dano
      causado ao paciente por falha do serviço médico ou auxiliar de enfermagem, vinculado à pessoa jurídica do
      hospital, e do médico por ato pessoal.
      <br><br>
      Dessa forma, segundo o Eminente Genival Veloso de França:
      <br><br>
      "O erro médico, quase sempre por culpa, é uma forma de conduta profissional inadequada que supõe uma inobservância
      técnica, capaz de produzir um dano à vida ou à saúde do paciente. É o dano sofrido pelo paciente que possa ser
      caracterizado como imperícia, negligência ou imprudência do médico, no exercício de suas atividades profissionais.
      Levam-se em conta as condições do atendimento, a necessidade da ação e os meios empregados"
      <br><br>
      O termo "erro médico" comumente é associado ao ato pessoal praticado pelo médico, ao passo que, "erro hospitalar"
      é vinculado a falha na prestação do serviço hospitalar propriamente dito. E, os regimes de responsabilidade civil
      - objetiva ou subjetiva -, nessas hipóteses, têm tratamentos diferentes.
      <br><br>
      Ou seja, o médico responde pelos danos sofridos pelo paciente em decorrência de erro médico causado pelos serviços
      técnicos profissionais do profissional. Por exemplo, o médico que prescreveu medicamento errado, esqueceu uma gaze
      na cavidade abdominal da paciente durante o parto cesáreo ou operou o joelho direito ao invés do esquerdo do
      paciente.
      <br><br>
      Já o hospital responde por "erro hospitalar" apenas pelos serviços única e exclusivamente relacionados com o
      estabelecimento empresarial propriamente dito, ou seja, aqueles que digam respeito à estadia do paciente
      (internação), instalações, equipamento, serviços auxiliares (enfermagem, exames, radiologia). Por exemplo, o
      serviço de enfermagem que administrou medicação errada no paciente, vindo este a óbito por choque anafilático.
      <br><br>
      A responsabilidade dos hospitais, no que tange à atuação técnico-profissional dos médicos que neles atuam ou a
      eles sejam ligados por convênio, é subjetiva, ou seja, dependente da comprovação de culpa do médico.
      <br><br>
      Isso porque, o hospital não é responsabilizado automaticamente pela atividade puramente médica ou erro médico, mas
      aos serviços paramédicos e extramédico, bastando para se verificar o erro hospitalar apenas, a demonstração da
      falha ou defeito na prestação do serviço hospitalar, o nexo de causalidade e o dano, de acordo com a regra
      insculpida ao teor do art. 14, caput, do Código de Proteção ao Consumidor (Lei n.º 8.078/1990).
      <br><br>
      Conclui-se que, tratando-se de erro médico, sem a comprovação da culpa do médico não há a responsabilização do
      hospital, na medida em que o que se põe em exame é o próprio trabalho médico, aplicando-se, pois, o paragrafo 4º
      do art. 14 do Código do Consumidor.

      <h2>Todo ato médico configura erro médico?</h2>

      Nem todo mal resultado pode ser rotulado como erro médico, diz o professor Genival Veloso de França (Direito
      Médico, Ed. 11ª, 2013).
      <br><br>
      Portanto, não é qualquer ato médico ou hospitalar que configura o erro médico ou hospitalar em parto,
      respectivamente, mas apenas aqueles praticados em desconformidade com a lei e o direito, com potencial ofensivo,
      ou seja, de causar um dano lesivo à vida ou à saúde do paciente.
      <br><br>
      Nessa linha de raciocínio, surge o direito a indenização da(s) vítima(s) do erro médico, desde que demonstrado o
      ato ilícito, falha na prestação do serviço hospitalar, ou culpa do médico, nexo de causalidade e dano lesivo
      (CC/02, artigos 186 e 927).
      <br><br>
      Assim, a mãe ou seu filho, por exemplo, vítimas do erro médico no parto, deve provar que o médico ou hospital não
      atuaram em consonância com os protocolos e diretrizes da obstetrícia e ginecologia, causando danos lesivos por
      negligência, imprudência ou imperícia, para ter direito a justa indenização pelos danos.

      <h2>A obrigação do médico é de meio ou de resultado?</h2>

      Sabe-se que a ciência médica é inexata, e para além desse motivo, a obrigação da atividade do médico é de meio.
      <br><br>
      Inclusive, há doutrina que aponta jurisprudência no sentido de que mesmo nos procedimentos estéticos a obrigação
      do médico continua sendo de meio (Eduardo Dantas, 2021, pag. 171).
      <br><br>
      Todavia, é de resultado a obrigação em procedimento estético - implante de silicone e lipoaspiração, e implante de
      lentes dentárias -, conforme ainda prevalece na jurisprudência.
      <br><br>
      Na obrigação de meios existe o compromisso da utilização de todos os recursos disponíveis para se ter um
      resultado, sem, no entanto, a obrigação de alcançar esse êxito tão legítimo. Busca-se, é claro, um resultado, mas,
      em não se cumprindo - e inexistindo a culpa do devedor -, não há o que cobrar.
      <br><br>
      Na obrigação de resultado, como é o caso do procedimento cirúrgico de implante de silicone, a prestação do serviço
      tem um fim definido. Se não houver o resultado esperado, há inadimplência e o devedor assume o ônus por não
      satisfazer a obrigação que prometeu.
      <br><br>
      Existe ainda o entendimento de que a obrigação do médico que realiza a cirurgia plástica reparadora é considerada
      de meios, cabendo o paciente provar além dos requisitos do erro médico, que o profissional não utilizou dos meios
      disponíveis ao seu alcance durante o ato médico operatório.
      <br><br>
      Não é aceita a ideia de que a obrigação de resultados atrai automaticamente a responsabilidade objetiva, para
      dispensar a perquirição de culpa do profissional. Pois, a culpa prevista no Código Civil de 2002, Código de Defesa
      do Consumidor e Código de Ética Médica é um elemento do instituto da responsabilidade civil do profissional.
      <br><br>
      A relevância prática dessa diferenciação reside no ônus da prova. Isto é, na hipótese de alegação de resultado
      diverso do prometido e contratado, a "culpa do profissional é presumida", invertendo-se o ônus da prova, para que
      este comprove que a conduta médica foi adequada e o resultado atingido.
      <br><br>
      Observa-se que mesmo em especialidades consideradas como obrigação de resultado, como na cirurgia puramente
      estética, já se olha com reservas esse conceito tão radical de êxito absoluto, pois o correto é decidir pelas
      circunstâncias de cada caso.

      <h2>A responsabilidade do médico é objetiva ou subjetiva?</h2>

      A responsabilidade civil gira em torno de duas teorias: a subjetiva e a objetiva.
      <br><br>
      Para fins de análise do erro médico, o art. 14, § 4º, do Código de Defesa do Consumidor, os arts. 186 e 927, do
      Código Civil, e o art. 1º do Código de Ética Médica, adota a teoria subjetiva.
      <br><br>
      Dessa forma, como consequência jurídica da responsabilidade subjetiva, o paciente deverá provar a culpa do médico,
      dentro das espécies negligência imprudência e imperícia.
      <br><br>
      De outro lado, aplica-se a responsabilidade objetiva, no caso de "erro médico" causado por fato do serviço do
      hospital, clínica ou consultório, sendo necessário demonstrar o serviço contrário a lei e o direito, o dano lesivo
      e o nexo de causalidade entre o serviço defeituosos e o dano.

      <h2>Quais são os requisitos para configuração do erro médico?</h2>

      Para a configuração do erro médico é necessário a presença: do ato ilícito; culpa; nexo de causalidade e dano.
      <br><br>
      O ato ilícito, previsto no art. 186 do CC/02, é a atuação médica, mediante culpa, contrária a lei e o direito, mas
      não é só isso, é o exercício da profissão médica em dissonância a lex artis médicas, conjunto de regras
      consagradas pela prática médica atual. Daí a importância de se analisar detidamente a conduta profissional à luz
      da literatura e circunstâncias.
      <br><br>
      A culpa deve ser entendida como culpa lato sensu (culpa em sentido geral), aquela que abrange o dolo, isto é, a
      vontade livre e consciente de causar algum dano ao paciente, e, também, como culpa stricto sensu (no sentido
      literal), aquela que abrange as várias modalidades da culpa, quais sejam: imprudência, negligência ou imperícia.
      <br><br>
      A negligência é a falta de cuidado e zelo. É a conduta omissiva do profissional, configurada por não agir. O
      médico negligente é aquele que tem conhecimento sobre regra imposta por sua profissão, mas não adota os cuidados
      devidos durante o atendimento ao paciente. Negligente é o médico esquece uma pinça na cavidade abdominal do
      paciente.
      <br><br>
      Imprudência é precipitação por parte do médico, que expõe o paciente a um risco desnecessário. É a conduta
      comissiva, configurada pelo agir. Imprudente é o médico cirurgião que não aguarda o anestesista e ele mesmo
      realiza a anestesia, causando danos ao paciente.
      <br><br>
      Imperícia é a deficiência de conhecimento técnico. É a inabilidade para o desempenho de certa atividade. Imperito
      é o médico que, sem possuir habilitação de cirurgia plástica, realiza intervenção própria da especialidade da qual
      não dispõe de conhecimento específico.
      <br><br>
      O nexo de causalidade é outro elemento ou pressuposto do erro médico no procedimento de prótese de silicone, sem o
      qual, exclui a obrigação do profissional indenizar a vítima. Por isso, o dano deve ser a causa direta e imediata
      da conduta culposa do médico.
      <br><br>
      O dano pode ser patrimonial (material/prejuízo) e extrapatrimonial. Este é o gênero do qual são espécies: dano
      moral e estético, dentre outros, como existencial, à imagem, a perda de uma chance e até ao projeto de vida.

      <h2>Quais são os possíveis danos causados pelo erro médico?</h2>

      O Código Civil no art. 186 dispõe que "Aquele que, por ação ou omissão voluntária, negligência ou imprudência,
      violar direito e causar dano a outrem, ainda que exclusivamente moral, comete ato ilícito".
      <br><br>
      De acordo com esse dispositivo, o dano - lesivo - deve ser resultante da conduta inadequada ou ato culposo do
      médico, sem o qual o ato ilícito não assume relevância.
      <br><br>
      Apesar de o Código Civil brasileiro não conceituar o dano, nem tampouco delimita quais seriam as lesões tuteladas
      pelo orndenamento jurídico, é possível que de um único ato médico considerado de erro médico pode causar dano
      patrimonial (material/prejuízo) e extrapatrimonial. Os danos mais comuns dentre aqueles que se pleitear no
      processo de erro médico a pretensão de obter indenização é o dano moral, material e estético.
      <br><br>
      Dano material ou prejuízo material é o decréscimo que o paciente teve em seu patrimônio, mas desde que a causa
      médica ou hospitalar seja direta e imediata.
      <br><br>
      Dano moral são aqueles sentimentos negativos de depressão que desencadeiam o processo psicológico de tristeza,
      baixa estima, medo, reprovação no meio social, familiar e profissional, por ter que conviver com os danos ou
      lesões à integridade física, à saúde e vida, causados pelo erro médico. Configura também dano moral a violação dos
      aspectos dos direitos da personalidade do paciente, como nome, imagem, intimidade e privacidade.
      <br><br>
      Dano estético é a lesão ou marca que permanece no corpo do paciente, sendo, igualmente indenizável. É a alteração
      ou transformação morfológica, física ou qualquer mudança corporal que cause repulsa. Pode-se dizer também que dano
      estético é toda ofensa causada aos direitos físicos da pessoa humana, correspondentes à integridade física da
      pessoa humana, ligados diretamente à pessoa de seu titular.
      <br><br>
      Perda de uma chance é espécie de dano autônomo amplamente aceito nos tribunais no caso de erro médico. Nessa
      espécie de dano o paciente perde a chance de realizar uma terapêutica eficaz por erro médico. São exemplos: i)
      erro ou atraso do diagnóstico que postergam o início de uma terapêutica; ou ii) violação da autonomia do paciente
      por ausência ou insuficiência de informações necessárias para a anuência ou renúncia de um determinado tratamento.
      Trata-se da perda de uma possibilidade tangível de um tratamento eficaz.

      <h2>É possível a indenização por dano estético e dano moral pelo mesmo erro médico?</h2>

      De um único procedimento médico estético, por exemplo, pode, de fato, surgir o dano moral e/ou o dano estético,
      sendo lícita a cumulação das indenizações de dano estético e dano moral, ainda que oriundos do mesmo fato, ou
      seja, do mesmo ato médico, conforme autoriza a Súmula 387 do Superior Tribunal de Justiça.
      <br><br>
      Mas a cumulação passou a ser aceita a partir de 2009. Antes, não se admitia por entender que dano estético era
      dano moral.
      <br><br>
      Assim, poderá surgir a obrigação de o médico indenizar o dano estético e o moral ao paciente, no mesmo processo,
      cujos valores serão quantificados separadamente, no caso concreto.
      <br><br>
      A responsabilização ética dos médicos se dá mediante abertura de procedimento ético-profissional que é regido
      pelas regras de direito público e seguem os ditames dos princípios administrativos. O procedimento
      ético-profissional tem duas fazes: i) Sindicância; e ii) processo ético.
      <br><br>
      Esse procedimento administrativo pode resultar em punições administrativas previstas no artigo 22 da lei 3.268/57.
      Sendo elas: a) Advertência confidencial em aviso reservado; b) censura confidencial em aviso reservado; c) censura
      pública em publicação oficial; d) suspensão do exercício profissional até 30 (trinta) dias; e) cassação do
      exercício profissional.
      <br><br>
      É importante destacar que os conselhos de medicina não podem inovar nas penas aplicadas aos médicos infratores,
      sendo restringidos às penas previstas taxativamente no rol legalmente constituído.
      <br><br>
      Via de regra as decisões proferidas nas outras esferas (civil e penal) não vinculam as decisões proferidas pelos
      conselhos. Um advogado especialista em direito médico poderá auxiliar o médico preventivamente, visando evitar
      transgressões éticas e de forma contenciosa durante esse procedimento ético-profissional.

      <h2>Aplica-se o Código de Defesa do Consumidor na relação de consumo entre médico e paciente?</h2>

      A RELAÇÃO travada entre o PACIENTE, MÉDICO e hospital, como no caso de saúde privada, enquadra-se como RELAÇÃO de
      CONSUMO, sendo regida pelo Código de Defesa do Consumidor, conforme inteligência dos artigos 2º e 3º da Lei
      8.078/90, por se incluir o tratamento perseguido pela PACIENTE como produto e serviço que o consumidor utiliza
      como destinatário final.
      <br><br>
      Dessa forma, a incidência do Código de Defesa do Consumidor nos contratos de prestação de serviços, firmados pelo
      PACIENTE junto a instituições hospitalares, é medida necessária, a fim de assegurar o equilíbrio das partes.
      <br><br>
      Assim, temos que o paciente - ou usuário de serviço médicos - é o consumidor, para o qual se presta um serviço, e
      o fornecedor é aquele profissional que desenvolve sua atividade, de forma remunerada, nos moldes do art. 3º.
      <br><br>
      Qual a importância do Termo de Consentimento Esclarecido na configuração ou não do erro médico?
      O Termo de Consentimento Esclarecido e não apenas Termo de Consentimento "Informado", se aplicado corretamente nas
      relações de consumo entre médico e paciente pode ter força para atenuar ou excluir a responsabilidade do médico
      por erro médico.
      <br><br>
      Porém, segundo a melhor doutrina especializada, a exemplo de Dantas (pág. 138) afirma que é um engano pensar que a
      obtenção do simples consentimento informado, nos termos como é conhecido e vem sendo praticado, pode representar
      um excludente de responsabilidade civil, ou mesmo um eximente de culpabilidade, no caso de ocorrer um resultado
      não desejado ao longo do tratamento.
      <br><br>
      Nessa linha de raciocínio, o paciente tem pouca ou nenhum entendimento da técnica médica e, em regra, conta
      somente como seu médico para esclarecê-lo, a fim de que possa tomar uma decisão inteligente. O paciente ou
      consumidor de serviço de assistência médica somente pode consentir eficazmente com o tratamento, se sua escolha
      estiver embasada em informações adequadas e claras sobre as vantagens e desvantagens dos riscos do procedimento
      médico.
      <br><br>
      No plano legal, o Código de Ética Médica no art. 101, dispõe que é vedado ao médico deixar de obter do paciente ou
      de seu representante legal o termo de consentimento livre e esclarecido para a realização de pesquisa envolvendo
      seres humanos, após as devidas explicações sobre a natureza e as consequências da pesquisa.
      <br><br>
      Para Dantas (pág. 130), o Código de Ética Médica é bastante claro ao proibir a prática de atos que limitem o
      direito do paciente em conhecer sua situação clínica, ou que venham a restringir o seu direito de livre escolha
      terapêutica.
      <br><br>
      Ainda afirma, para que o consentimento seja esclarecido, as informações devem ser compreendidas pelos pacientes.
      Isso porque uma pessoa pode ser informada, mas isso não significa que esteja esclarecida, caso ela não compreenda
      o sentido das informações e, principalmente, se estas não forem adaptadas às suas circunstâncias culturais e ao
      momento psicológico que está vivenciado.
      <br><br>
      O paciente precisa efetivamente compreender a informação que lhe foi transmitida, e não simplesmente recebe-la sem
      qualquer tipo de absorção, uma vez que, em assim procedendo, poderia até consentir com o tratamento proposto, mas
      não exerceria o seu direito de escolha livre e esclarecida. Teria, portanto, prejudicado o seu direito à
      autonomia, afirma Dantas (pág. 118).
      <br><br>
      Portanto, o termo de consentimento livre e esclarecido, na hipótese de não ser oferecidas as informações adequadas
      e claras sobre os riscos da terapia ao paciente, e esta não compreendendo o sentido das informações, caracteriza
      erro médico por negligência de informação por parte do profissional, passível de indenização por danos morais.

      <h2>A autonomia do paciente</h2>

      O termo de consentimento livre e esclarecido deriva do princípio bioético da autonomia do paciente. O princípio da
      autonomia implica ao profissional de saúde o respeito às decisões tomadas pelo paciente, bem como a garantia dos
      devidos esclarecimentos a respeito de determinada terapêutica e suas possíveis consequências.
      <br><br>
      A autonomia do paciente foi elevada a um patamar de extrema relevância e por consequência o dever de informação e
      o esclarecimento tomaram proporções elementares para a caracterização da responsabilidade médica. A informação e o
      esclarecimento do paciente passaram a ser verdadeiros deveres do médico para garantir a autonomia do paciente.
      <br><br>
      Não obstante, a autonomia visa humanizar a relação entre pacientes e médicos. O paciente, sendo a parte vulnerável
      da relação precisa ser visto como sujeito que necessita ser esclarecido ao máximo.
      <br><br>
      A violação do preceito da autonomia do paciente por si só pode gerar dano passível de indenização ao paciente. O
      dano causado pela perda de uma chance de tratamento por ausência de esclarecimento sobre determinado procedimento
      é um exemplo de violação da autonomia. Em muitos casos pode-se verificar que a autonomia do paciente estaria
      abalada por eventual condição decorrente do seu estado de saúde ou por incapacidade de compreensão cognitiva
      determinada por algum fator permanente ou transitório. Nessas hipóteses, excepcionalmente, se relativiza a
      autonomia do paciente acarretando em maior liberdade na atuação do médico, estando vinculado a demais princípios
      como a beneficência e a não maleficência para com o seu paciente

      <h2>O médico pode responder pelo mesmo ato médico na esfera civil, ética-disciplinar e criminal?</h2>

      De um único ato médico que cause danos lesivos à vida e à saúde do paciente, segundo aponta Jurandir Sebastião
      (2003, pág. 89), três consequências distintas, concomitantes ou isoladas, poderão ser aplicadas ao profissional
      médico, a saber: (i) punição administrativa; (ii) reparação civil; (iii) punição criminal.

      <h2>Responsabilização ético-disciplinar do médico</h2>

      A punição ético-administrativa será aplicada pelo Conselho Regional de Medicina. Se o médico adotar conduta vedada
      pela Medicina, dar-se-á aplicação à punição administrativa, mesmo não ocorrendo dano material ou moral ao
      paciente.
      <br><br>
      A responsabilização ética dos médicos se dá mediante abertura de procedimento ético-profissional que é regido
      pelas regras de direito público e seguem os ditames dos princípios administrativos. O procedimento
      ético-profissional tem duas fazes: i) Sindicância; e ii) processo ético.
      <br><br>
      Esse procedimento administrativo pode resultar em punições administrativas previstas no artigo 22 da lei 3.268/57.
      Sendo elas:
      <br><br>
      a) Advertência confidencial em aviso reservado;<br>
      b) censura confidencial em aviso reservado;<br>
      c) censura pública em publicação oficial;<br>
      d) suspensão do exercício profissional até 30 (trinta) dias;<br>
      e) cassação do exercício profissional.<br><br>

      É importante destacar que os conselhos de medicina não podem inovar nas penas aplicadas aos médicos infratores,
      sendo restringidos às penas previstas taxativamente no rol legalmente constituído.
      <br><br>
      Via de regra as decisões proferidas nas outras esferas (civil e penal) não vinculam as decisões proferidas pelos
      conselhos.
      <br><br>
      Um advogado especialista em direito médico poderá auxiliar o médico preventivamente, visando evitar transgressões
      éticas e de forma contenciosa durante esse procedimento ético-profissional.

      <h2>Responsabilização civil do médico</h2>

      A reparação civil por dano moral, material e estético, mediante regular processo civil judicial.

      <h2>Responsabilização criminal do médico</h2>

      Por fim, a punição judicial criminal será objeto de processo se a conduta médica preencher alguma figura
      tipificada como crime ou contravenção penal, como, por exemplo, homicídio, lesão corporal ou omissão de socorro
      (Código Penal, Arts. 121, 129 e 135, respectivamente).

      <h2>Culpa exclusiva da vítima</h2>

      Quando o evento danoso decorre de conduta do paciente, seja fazendo algo diferente do determinado pelo médico ou
      deixando de cumprir com o que foi prescrito pelo profissional. Como exemplo, cita-se: tomar medicamento diverso do
      prescrito ou não o tomar.

      <h2>Fato de terceiro</h2>

      Quando a causa do erro médico é a ação ou omissão de terceiro, que não é do médico e nem do paciente.
      Exemplificando melhor, familiar que compra o remédio diverso do prescrito na receita, e o paciente o toma.

      <h2>Caso fortuito ou força maior</h2>

      Força maior se refere á evento inevitável, que é causado pela força da natureza – enchente que inunda o hospital
      onde o paciente está internado – e caso fortuito está relacionado a um acontecimento imprevisível – queda de luz
      no hospital.

      <h2>Iatrogenia</h2>

      Envolve dano inevitável e/ou imprevisível, diretamente relacionada ao ato pratico pelo médico, que estava agindo
      de forma diligente e em conformidade com o atual conhecimento cientifico. Por exemplo, queda capilar causada pela
      quimioterapia.

      <h2>Principais erros médicos</h2>

      A medicina tem especialidades médicas, e, por consequência, poderemos ter os denominados erros médicos em cada
      especialidade, a exemplo da especialidade obstetrícia e ginecologia, e o denominado erro médico no parto.
      <br><br>
      Dessa forma, a análise do erro médico é tarefa árdua que desafia a aguça do advogado especialista em direito
      médico.
      <br><br>
      Viu-se que para configurar o erro médico, deve-se demonstrar os elementos da responsabilidade civil - ato ilícito,
      conduta, culpa, nexo de causalidade e dano -, para que surja a obrigação de indenizar.
      <br><br>
      Pois, nem todo mal resultado pode ser considerado erro médico.

      <h2>Especialidades mais demandadas com recursos no STJ</h2>

      Seguindo a média nacional de demandas referentes a erro médico por especialidades a ginecologia/obstetrícia ocupa
      o primeiro lugar, com 27,14% dos processos. A vice-campeã é a traumatologia/ortopedia, com 15,71%. Em Terceiro,
      vem empatadas, a cirurgia plástica e a cirurgia geral, com 10% cada. Depois vem a neurocirurgia com 7,14%. A
      anestesiologia, a pediatria e a oftalmologia vêm em seguida, com 5,71% cada. Seguidos da clínica médica,
      otorrinolaringologia e hematologia com 2,85% cada. E por fim, a cardiologia, angiologia e a medicina intensiva com
      1,43% de recursos no superior tribunal de justiça.

      <h2>Sofrimento fetal pela demora no parto</h2>

      Ao que toca o erro médico em parto, estudo realizado no Paraná (692 casos, de 2013 a 2017) aponta que a
      especialidade mais demandada foi ginecologia e obstetrícia e perfil do denunciado do sexo masculino.
      <br><br>
      Ou seja, a ausência ou falha na monitorização fetal, durante o trabalho de parto, com resultado morte por asfixia
      fetal "sofrimento fetal pela demora em realizar o parto" está entre as principais demandas por erro médico no
      parto que o departamento de direito médico deste escritório recebe.
      <br><br>
      Mas, não é qualquer ato médico ou hospitalar que configura o erro médico ou hospitalar em parto, respectivamente,
      mas apenas aqueles praticados em desconformidade com a lei e o direito, com potencial ofensivo, ou seja, de causar
      um dano lesivo à vida ou à saúde da gestante e concepto.
      <br><br>
      Portanto, o contexto como se desenvolveu o trabalho de parto será analisado em conjunto com os pressupostos da
      responsabilidade civil do médico e hospital.
      <br><br>
      Analisar-se-á também as condições da gestante e bebê e do pré-natal, a fim de estabelecer a ausência de doença ou
      da causa preexistente que possa influenciar negativa ou positivamente no resultado parto.
      <br><br>
      Assim, a mãe ou seu filho, vítimas do erro médico no parto, deve provar que o médico ou hospital não atuaram em
      consonância com os protocolos e diretrizes da obstetrícia, causando danos lesivos por negligência, imprudência ou
      imperícia, para ter direito a justa indenização pelos danos.

      <h2>Distócia de ombro e o erro médico no parto</h2>

      Em média 68,75% das decisões judiciais em segundo grau (TJDFT) apontam não ocorrência de erro médico por distócia
      de ombro, fundamentadas em prova técnica, segundo a qual trata-se de evento imprevisível ou inevitável (dano
      iatrogênico).
      <br><br>
      A paralisia obstétrica é uma lesão do plexo braquial decorrente de distócia de ombro.
      <br><br>
      Diante desses casos, o desafio é identificar de quem é a responsabilidade pela paralisia obstétrica; em quais
      casos as manobras da distócia são consideradas erro médico, uma vez que, durante o parto, o único meio para se
      realizar o parto e preservar a integridade física do bebê e da sua mãe é proceder com as manobras de distocia, e,
      neste caso, não será configurado erro médico.
      <br><br>
      Portanto, o contexto como se desenvolveu o trabalho de parto será analisado em conjunto com os pressupostos da
      responsabilidade civil do médico.

      <h2>Erro médico em cirurgia plástica estética</h2>

      Falar em erro médico, seja nos casos de cirurgia geral, ortopédica ou estética, o elemento culpa, nexo de
      causalidade e, principalmente, o dano, mas não é qualquer dano que impõe o autor a reparar a vítima, é preciso que
      altere o bem jurídico tutelado pelo direito - integridade física ou psicológica do paciente.
      <br><br>
      Demonstrado os requisitos legais do art. 186 e 927, do Código Civil, surge para a vítima direito à reparação civil
      de danos em virtude do erro médico. O resultado desejado, mas não alcançado, a negligência ao dever de informação
      e obtenção do consentimento viciado é complemento dos requisitos, pois pode haver erro médico, nestes casos, mesmo
      que não sobrevenha lesão física ao corpo da paciente.

      <h2>Qual a diferença entre cirurgia estética e reparadora?</h2>

      A cirurgia plástica possui duas espécies: (i) a estética; e (ii) a reparadora.
      <br><br>
      As cirurgias de ordem reparadora tratam de um defeito de ordem funcional, seja uma deformidade, uma cicatriz
      congênita que atrapalhe a função de um membro ou de uma musculatura, ou seja, que interfira na rotina diária do
      paciente.
      <br><br>
      Os procedimentos como redução da mama, que causam dor nas costas e problemas de coluna; ou ainda a retirada de
      pele em regiões que causam assaduras, é muito comum de serem realizadas. Em todos esses casos, o paciente
      necessita realizar o procedimento cirúrgico.
      <br><br>
      Quanto às cirurgias com cunho estético elas não apresentam função anatômica, são realizadas com o propósito de
      melhorar a aparência do paciente.
      <br><br>
      O procedimento estético ou cosmetológico é induvidosamente de resultado. Já o procedimento reparador segue a regra
      da obrigação do médico, que é de meios.
      <br><br>
      Todavia, há doutrina que entende que a cirurgia estética e reparadora é de meios. E um dos argumentos para essa
      conclusão é extraído do conceito de saúde expresso pela World Health Organization (Organização Mundial de Saúde),
      segundo a qual a saúde é um estado de completo bem-estar físico, mental e social, e não consiste apenas na
      ausência de doença ou de enfermidade.
      <br><br>
      Portanto, entende-se que a pessoa que deseja um nariz simétrico é porque isso proporcionará um estado de completo
      bem-estar físico, mental e social.

      <h2>Erro médico ortopédico</h2>

      É o terceiro motivo de processo judicial por erro médico. É igualmente um ato médico complexo, por envolver
      adversidades que, em alguns casos, fogem da prudência, diligência e perícia do médico ortopedista. É por isso que
      se recomenda um advogado especialista em direito médico, para melhor orientar o cliente sobre as circunstâncias do
      possível erro médico.
      <br><br>
      Aqui também deve-se provar a culpa, dano injusto e nexo de causalidade entre este e àquela.
      <br><br>
      Cita-se como exemplo grosseiro de erro médico ortopédico operar o joelho direito ao invés do esquerdo.

      <h2>Erro de diagnóstico</h2>

      O erro de diagnóstico é mais comum do que se imagina, mesmo com todo o avanço tecnológico, de modo que o fato
      gerador surge da conduta humana.
      <br><br>
      Erro de diagnóstico de câncer, falso positivo e exame de DNA, são os exemplos mais comuns, os quais, por si sós,
      geram abalo à moral. in re ipsa indenizável do paciente ou familiar, que recebe uma notícia impactante.

      <h2>Erro médico anestésico</h2>

      O médico anestesista que, antes de injetar a droga anestésica no paciente, não procede com a entrevista, com os
      testes alérgicos pratica erro médico na aplicação da anestesia em virtude da conduta médica inadequada por omissão
      ou imprudência.

      <h2>Erro médico odontológico</h2>

      Assim como a conduta médica, a odontológica também pode ser questionada pelo paciente ou familiar perante o
      judiciário. Dessa forma, o erro médico odontológico é a conduta voluntária do profissional odontólogo, que causa
      um dano lesivo à saúde do paciente, mediante negligência, imprudência ou imperícia.
      <br><br>
      Há obrigação de meio e obrigação de resultado do dentista. Na área odontológica, de igual modo, há o procedimento
      estético, como, por exemplo, o implante de lente de contato é estético, e por isso, é de resultado. E, o resultado
      diverso do prometido, é passível de indenização, desde que, também como no caso de erro médico, seja comprovada a
      culpa do dentista, nexo de causalidade e dano.

      <h2>Erro médico no tratamento da COVID-19</h2>

      A complexidade da análise do erro médico se potencializa no contexto de tratamento da COVID-19, ante a falta de um
      protocolo único baseado em evidências cientificas.
      <br><br>
      O erro médico no contexto da COVID-19 pode ser associado a falta de consentimento livre e esclarecido acerca do
      tratamento de intubação, medicamento sem evidência cientifica, e internação de paciente com diagnostico negativo
      COVID-19 em UTI COVID-19, ou em ambientes onde têm pacientes com diagnóstico positivo.
      <br><br>
      Diante dessas circunstâncias é possível a responsabilização do médico ou equipe de enfermagem do hospital.
      <br><br>
      Mas, essas mesmas circunstâncias, ou a ausência de consenso sobre o melhor tratamento contra a pandemia causada
      pela COVID-19, pode ser levada em consideração para atenuar ou excluir a responsabilidade do médico por erro
      médico em tratamento da COVID-19.

      <h2>Infecção Hospitalar</h2>

      As demandas por danos decorrentes de infecção hospitalar tem sofrido um considerável aumento nos tribunais. Neste
      caso, o paciente muitas vezes se submete a tratamentos clínicos ou cirurgias simples que necessitam de pouco prazo
      de internação. A demanda inicial do paciente é satisfeita e bem-sucedida, entretanto, sobrevém quadro infeccioso
      durante a internação que acarreta danos maiores do que aqueles decorrentes da terapia inicial.
      <br><br>
      Nossos tribunais entendem pela responsabilidade objetiva por parte do hospital nos casos de danos causados por
      agente infecciosos tipicamente do hospitalares. Nessa hipótese, não há responsabilidade médica em si, mas sim do
      estabelecimento hospitalar por defeito do serviço nos ditames do Código de Defesa do Consumidor.

      <h2>Deveres dos profissionais da saúde</h2>

      Os profissionais da saúde têm o dever e a obrigação de atuar com zelo, diligência e cuidado, visando o
      restabelecimento da saúde do paciente. É dever do médico ter a aptidão e os conhecimentos técnicos necessários
      para intervir na saúde do doente. A ausência de algum desses pontos configura imperícia, dando ensejo à ação de
      indenização pelos danos causados pelo profissional, conforme previsão do art. 5º, inc. X da Constituição Federal
      de 1988.

      <h2>Bioética</h2>

      A bioética norteia a atuação de profissionais da saúde com base em quatro princípios centrais, são eles:
      <br><br>
      Princípio da Autonomia implica no devido respeito às decisões tomadas pelo paciente, bem como no dever de
      informação do profissional de saúde que deve não só informar, como também esclarecer todas as nuances de um
      procedimento médico como forma de garantia da autonomia do paciente.
      <br><br>
      Princípio da Beneficência se traduz na obrigação moral de agir sempre em benefício dos outros, ou seja, fazer
      sempre o bem. Esse princípio tem suas raízes no juramento de Hipócrates. É a realização de ações positivas para
      com o paciente.
      <br><br>
      Princípio da Não Maleficência impõe aos médicos que não basta que os profissionais se comprometam em realizar o
      bem, eles precisam se comprometer, acima de tudo, em não causar danos a quem quer que seja. É a proibição de ações
      negativas.
      <br><br>
      Princípio da justiça visa a equidade na distribuição de recursos. Não estamos falando apenas de verbas ou bens
      materiais, mas também na distribuição de profissionais capacitados e de pesquisas que visam avanços na medicina.

      <h2>A importância do advogado especialista em Direito Médico</h2>

      Nosso escritório de advocacia é especializado em responsabilidade civil, com foco na reparação civil (indenização)
      em razão de erro médico e hospitalar.
      <br><br>
      Atuamos na defesa das vítimas de erros praticados por médicos, dentistas, veterinários, hospitais, laboratórios e
      demais entes ligados à saúde, inclusive contra municípios, estados e a União.
      <br><br>
      Contamos, ainda, em nossa equipe, com advogados em plano de saúde para garantir ao consumidor a prestação dos
      serviços em caso de negativa de cobertura quando há risco de vida para o beneficiário, buscando a tutela
      antecipada no Poder Judiciário (liminar) para que os planos de saúde façam a cobertura e providenciem o
      atendimento necessário para o paciente.
      <br><br>
      <center>
        <a routerLink="/faleconosco">
          <button pButton type="button" label="FALE CONOSCO" icon="pi pi-envelope" iconPos="left"></button>
        </a>
      </center>
    </p-card>
  </div>

</ion-content>
