<!-- <app-header></app-header> -->

<ion-content>

  <div class="p-2">

    <ion-card>
      <ion-card-content>

        <img alt="Escritório" src="assets/escritorio.webp" style="float:right;width:45%;padding-left: 15px;">

        <b style="font-size: larger; ">O ESCRITÓRIO</b><br><br>

        <div style="text-align: justify;">
          A equipe de advogados do escritório é rigorosamente selecionada, temos profissionais que estão de
          acordo com nossos critérios de qualidade e responsabilidade, tendo um corpo jurídico devidamente
          especializado
          nas
          mais diversas áreas do Direito e capazes de atender quaisquer demandas contenciosas ou consultivas.
          <br><br>

          Para nós, a satisfação do cliente com o serviço prestado é a maior conquista. Por isso, a nossa carteira de
          clientes compreende um grupo diversificado, o que nos torna uma equipe multidisciplinar, atuante em diversos
          segmentos jurídicos, que prioriza a ética em suas relações e a busca constante pela prestação de serviços de
          qualidade.<br><br>

          <b>Somos um escritório de advocacia especializado em Direito Criminal</b>
          <br><br>

          Um escritório de advocacia criminalista especializado na luta pelo direito de uma defesa ampla, justa e eficaz
          é
          aquele que age com respeito e dedicação em direção aos princípios constitucionais que protegem seus clientes.
          <br><br>

          No escritório do Dr. Israel Paulino acreditamos que uma defesa competente é a única forma de obtenção de
          justiça,
          respeitando o sistema jurídico brasileiro. É com este cuidado, aliado à excelência técnica, que atuamos em
          cada
          caso, com a certeza de oferecermos a melhor defesa para aqueles que escolhem nosso serviço.
          <br><br>

          Nossos advogados em Direito Criminalista atuam na defesa dos interesses de nossos clientes <b>com
          acompanhamento em Delegacias, Fóruns, Pesquisas e Defesas Criminais</b>. Com atendimento personalizado e atento às
          necessidades do cliente, cuidando sempre dos aspectos teóricos e práticos que envolvem uma defesa criminal até o desfecho da
          causa.
        </div>
        <br>

        <div class="center">
          <ion-button routerLink="/faleconosco">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            FALE CONOSCO
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title style="font-size: smaller;">© {{anio}} Israel Paulino - Todos os Direitos Reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>