<app-header></app-header>

<ion-content>
  <div class="p-2">
    <p-card header="Tribunais Superiores" [style]="{width: '100%'}" styleClass="p-card-shadow">

      <h2>Especialistas em resolução de demandas perante os Tribunais Superiores</h2>

      Somos um escritório de advocacia com atuação nos tribunais superiores. Defendemos as mais variadas causas,
      primando pela ética de trabalho e pela técnica jurídica aliadas ao bom relacionamento profissional com os
      Excelentíssimos Ministros e seus gabinetes.
      <br><br>
      Acompanhamos os processos de nossos clientes desde a primeira instância até os tribunais superiores, com ampla
      inserção no Superior Tribunal Federal, no Superior Tribunal de Justiça, no Tribunal Superior do Trabalho e no
      Tribunal Superior Eleitoral, garantindo qualidade no trabalho no acompanhamento de todas as etapas do processo.
      <br><br>
      Além disso, atendemos como correspondentes jurídicos nessas instâncias, sempre com competência e diligência, para
      escritórios e clientes de todo o país, na busca por uma atuação significativa e colaborativa para melhorar o
      direito e as teses jurisprudenciais que norteiam nossa justiça.
      <br><br>
      Para tanto, propomos tanto ações originárias, como homologação de sentença estrangeira, mandado de segurança e
      ação de declaração de inconstitucionalidade, quanto também temos expertise nos mais variados recursos.
      <br><br>
      Saiba mais sobre algumas das ações originárias que propomos.

      <h2>Homologação de Sentença Estrangeira</h2>

      A homologação de sentença estrangeira é um processo que visa conferir a eficácia de um ato judicial estrangeiro no
      Brasil, tornando-o válido e adequado à norma jurídica brasileira.
      <br><br>
      Nos termos do artigo 4º daResolução n. 09 de 2005 do Superior Tribunal de Justiça (STJ), qualquer sentença
      estrangeira, inclusive ahomologação estrangeira de divórcio, só existirá juridicamente no Brasil após sua
      homologação pelo STJ.
      <br><br>
      Por esse motivo, para que o ato jurídico realizado no estrangeiro tenha plena eficácia no Brasil, é imprescindível
      o processo de homologação de sentença estrangeira perante o STJ.

      Os requisitos para que a sentença estrangeira seja homologada são:
      <ul>
        <li>haver sido proferida por juiz competente;</li>
        <li>terem sido as partes citadas ou haver-se legalmente verificada à revelia;</li>
        <li>ter transitada em julgado e estar revestida das formalidades necessárias para a execução no lugar em que foi
          proferida;</li>
        <li>estar traduzida por tradutor juramentado;</li>
        <li>ter sido homologada pelo Superior Tribunal de Justiça.</li>
      </ul>

      No que se refere a quem tem capacidade para abrir uma ação de homologação de sentença estrangeira, tem-se que
      todas as pessoas que podem ser atingidas pela decisão emitida no exterior podem fazê-lo, por meio de advogado
      legalmente constituído. A homologação deve ser proposta por um advogado uma vez que possui natureza semelhante à
      de uma ação judicial.

      <h2>Revisão do Mérito da Sentença</h2>

      A decisão estrangeira poderá ou não ser ratificada, se a causa que inspirou a sentença for novamente julgada, como
      se essa não existisse, ensejando até nova produção de provas e reanalisando as que já existem no processo.
      <br><br>
      Esse método é mais complexo e moroso, mas torna o direito estrangeiro aplicado no exterior mais justo referente a
      jurisdição interna do país que está homologando a sentença, criando também jurisprudência para resolução de novas
      demandas relativas a tais Estados.
      <br><br>
      É importante também utilizar os tratados como base. Se não houver tratado entre os Estados, não será possível a
      homologação.
      <br><br>
      Por fim, é importante salientar que o Superior Tribunal de Justiça não realiza análise de mérito da ação de
      homologação, apenas observa as formalidades dos arts. 15 e 17 daLei de Introdução às Normas do Direito Brasileiroe
      o art. 5º da Resolução nº 9 de 2005 do STJ.
      <br><br>
      Ficou interessado(a) em saber mais sobre o assunto? Confira um texto completo sobre o assunto elaborado por nossos
      profissionais.

      <h2>Mandado de segurança</h2>

      O Mandado de Segurança é uma ação constitucional de natureza cível prevista noart. 5º, LXIX, da Constituição
      Federal de 1988e naLei 12.016/2009que visa a proteção de direito líquido e certo lesado ou que sofra ameaça de
      lesão, em decorrência de ato de autoridade púbica, praticado com ilegalidade ou abuso de poder.
      <br><br>
      Entende-se por direito líquido e certo aquele demonstrado de plano, por meio de provas pré-constituídas, tendo em
      vista que a estreita via do mandado de segurança não comporta dilação probatória.
      <br><br>
      O mandado de segurança pode ser acionado por qualquer cidadão que acredite que algum direito seu foi violado, ou
      que tenha motivos para acreditar que seus direitos serão violados, sempre através de um advogado.
      <br><br>
      Pessoas jurídicas também tem direito ao mandado de segurança.
      <br><br>
      O mandado de segurança também pode ser acionado para proteger direitos individuais e coletivos. É possível que um
      grupo de pessoas entre com mandado de segurança para proteger um direito comum a todos eles que esteja sendo
      violado por uma autoridade pública - é o mandado de segurança coletivo.
      <br><br>
      São exemplos de grupos autorizados a
      impetrar um mandado de segurança coletivo: partidos políticos; organizações sindicais; entidades de classe; e
      associações em funcionamento há mais de um ano.
      <br><br>
      Para que o indivíduo que se sente prejudicado entre com mandado de segurança, é necessário acionar advogado.

      <h2>Ação direta de inconstitucionalidade</h2>

      As leis e normas criadas pelos políticos precisam estar sempre de acordo com a Constituição Federal, para garantir
      que isso aconteça no Brasil, existem diversos mecanismos a serem utilizados, entre os quais está a Ação Direta de
      Inconstitucionalidade.
      <br><br>
      A ação direta de inconstitucionalidade, também conhecida apenas como ADI ou ADIn, está prevista no art. 102, I da
      Constituição Federal de 1988 e na Lei n. 9.868 de 1999. Ela é uma ação que objetiva declarar que uma lei ou que
      parte de uma lei é inconstitucional.
      <br><br>
      As leis criadas pela Câmara e pelo Senado e os atos normativos editados pelo presidente não podem contrariar os
      preceitos da Constituição Federal. O mesmo acontece em cada estado: leis estaduais e atos normativos de
      governadores devem seguir o que diz a respectiva constituição estadual.
      <br><br>
      Para garantir que isso aconteça, existe o chamado controle de constitucionalidade. Ele pode ser difuso, quando é
      feito pela aplicação das leis por parte de juízes em casos concretos; ou pode ser concentrado, quando o Supremo
      Tribunal Federal analisa a matéria legislativa e decide se ela está ou não em consonância com a Constituição que a
      rege.

      Podem entrar com essa ação as seguintes figuras:
      <ul>
        <li>Presidente da República;</li>
        <li>Mesa do Sendo;</li>
        <li>Mesa da Câmara dos Deputados;</li>
        <li>Mesa da Assembleia Legislativa ou da Câmara Legislativa do Distrito Federal;</li>
        <li>Governador de estado ou do Distrito Federal;</li>
        <li>Procurador-Geral da República;</li>
        <li>Conselho Federal da Ordem dos Advogados do Brasil;</li>
        <li>Partido político com representação no Congresso Nacional; e
          Confederação sindical ou entidade de classe no âmbito nacional.</li>
      </ul>

      Uma vez enviada ao STF, a ADI é analisada por um dos ministros que será seu relator. Ele buscará informações
      sobre o tema e ouvirá as opiniões do Advogado Geral da União e do Procurador Geral da República.
      <br><br>
      Essa análise dará origem a um relatório, que é enviado aos outros ministros. Então, passa a cotação para que haja
      pelo menos oito membros da corte presentes. A opção mais votada torna-se a decisão final.
      <br><br>
      De acordo com a Constituição Federal, a decisão tomada pelo STF tem efeito vinculante aos poderes Judiciário e
      Executivo em todas as esferas, além de ser retroativa. Dessa forma, em caso de Inconstitucionalidade, a lei ou
      norma julgada se tornará nula em todas as ações dos poderes, inclusive para casos anteriores a conclusão da Ação
      Direta de Inconstitucionalidade.

      <br><br>
      <center>
        <a routerLink="/faleconosco">
          <button pButton type="button" label="FALE CONOSCO" icon="pi pi-envelope" iconPos="left"></button>
        </a>
      </center>
    </p-card>
  </div>
</ion-content>
