<app-header></app-header>

<ion-content>
  <div class="p-2">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Direito Imobiliário</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <table width="100%">
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Usucapião judicial
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Ação de despejo
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Retificação de aluguel
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Ações possessórias em geral
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Atraso na entrega de imóveis
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Embargos de terceiro
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Locação
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Direito Urbanístico
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Relações Condominiais
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Registro de Imóveis
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Incorporações Imobiliárias
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Impostos imobiliários
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Negociação de imóveis
            </td>
            <td width="5%"></td>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Distratos imobiliários
            </td>
          </tr>
          <tr>
            <td class="p-2">
              <ion-icon name="checkmark-outline"></ion-icon> Regularização e registro de imóveis
            </td>
            <td width="5%"></td>
            <td class="p-2">
            </td>
          </tr>
        </table>
        <br>
        Somos um escritório de advocacia especializado em Direito Imobiliário
        O Direito Imobiliário é, como o próprio nome sugere, o ramo do Direito relacionado a imóveis e às questões que
        os
        permeiam. Em nosso escritório de advocacia, atuamos no ramo do Direito Imobiliário por meio de assessoria
        especializada nos diversos temas da área, buscando oferecer a nossos clientes o atendimento mais completo
        possível.
        <br><br>
        Trabalhamos na elaboração de diversos tipos de contratos, na averiguação da situação de imóveis junto aos órgãos
        competentes, com ações revisionais e renovatórias de alugueis, ações indenizatórias por defeitos de construção e
        por atraso de entrega e, ainda, responsabilidade civil de construtores e incorporadores.
        <br><br>
        Confira, a seguir, um pouco mais sobre temas relacionados ao Direito Imobiliário e os serviços que prestamos na
        área.

        <h2>Compra e venda de imóvel</h2>

        Quando se adquire ou se vende um imóvel, é necessário realizar um contrato de compra e venda de imóvel e
        registrá-lo junto aos órgãos competentes.
        <br><br>
        A elaboração desse contrato merece muita atenção para que tudo ocorra como dever ser. Na elaboração do contrato
        de
        compra e venda de imóveis, é importante se certificar, por exemplo, de que todas as informações estão corretas,
        não há cláusulas abusivas no contrato, se o imóvel está em dia com o pagamento das cotas condominiais e quando
        se
        dará a desocupação do imóvel.
        <br><br>
        Em contratos de compra de imóveis na planta, é preciso se atentar, ainda, para alguns pontos mais específicos,
        como o prazo de entrega da construtora e sua responsabilização em caso de atrasos.

        <h2>Aluguel</h2>

        Talvez ainda mais comum do que a compra e venda de imóveis, o aluguel é figura importante do Direito
        Imobiliário.
        Nesse sentido, a atuação do advogado em Direito Imobiliário é importante para inquilinos e locatários.
        <br><br>
        Entre outras atividades relacionadas ao aluguel, o advogado em Direito Imobiliário trabalha com a elaboração e
        revisão de contratos de aluguel e ações de despejo e cobrança de dívidas.

        <h2>Comodato</h2>

        O comodato, previsto nos arts. 579 e seguintes do Código Civil, é o empréstimo de bens não fungíveis a outrem.
        Ou
        seja, é o contrato por meio do qual um indivíduo empresta, sem receber algo em troca, um bem que não pode ser
        substituído, como um imóvel, para outro.
        <br><br>
        O comodato possui prazo de duração previamente estabelecido e quem assume as obrigações de cuidar do imóvel
        durante sua vigência é o comodatário, aquele que recebe o bem emprestado.

        <h2>Dação em pagamento</h2>

        Dação em pagamento é um acordo firmado entre credor e devedor no qual o credor afirma aceitar prestação diversa
        da
        que lhe é devida para fins de quitação da dívida.
        <br><br>
        Por meio da dação em pagamento, é possível, por exemplo, pagar uma dívida com a dação de um bem ou de um
        crédito.

        <h2>Permuta</h2>

        Permuta é a troca simultânea de bens entre duas pessoas. A permuta imobiliária, portanto, nada mais é que a
        troca
        simultânea de imóveis entre duas pessoas. É possível, por meio desse mecanismo, trocar imóveis de mesma natureza
        ou de naturezas diferentes (casa, apartamento, loja ou terreno, por exemplo).
        <br><br>
        Para que a permuta imobiliária possa acontecer, é preciso que as partes entrem em acordo sobre como a transação
        acontecerá e seja realizada avaliação dos imóveis a serem permutados.

        <h2>Alienação fiduciária</h2>

        A alienação fiduciária é um mecanismo de garantia no qual um devedor aliena seu bem como garantia para alguma
        dívida, a qual, se não for paga da maneira originalmente prevista, será quitada com a transferência do bem
        alienado do devedor (fiduciante) para o credor (fiduciário).
        <br><br>
        No caso da alienação fiduciária de imóveis, ela ocorre quando o bem colocado como garantia do pagamento é um
        imóvel.

        <h2>Leilão</h2>

        O leilão é uma forma de licitação. Por meio do leilão, um bem é vendido pelo lance mais alto dado a ele. Com o
        leilão de imóveis, não é diferente.
        <br><br>
        O leilão de imóveis ocorre em situações nas quais indivíduos não conseguem continuar pagando seus imóveis e, por
        isso, recorrem ao leilão como forma de resolver a dívida.
        <br><br>
        O leilão de imóveis pode se dar judicialmente e extrajudicialmente.

        <h2>Regularização de imóvel</h2>

        Não raro, imóveis são construídos sem a regularização necessária. No entanto, isso não precisa continuar assim.
        Existe a possibilidade de se tentar regularizar o imóvel.
        <br><br>
        A importância da regularização é garantir que nada possa ser feito com o seu bem sem o seu consentimento e
        garantir que o bem seja, de fato, seu.

        <h2>Desmembramento</h2>

        Desmembramento é o processo de dividir um imóvel, uma construção ou um terreno, em dois ou mais pedaços. Para
        que
        essa divisão possa ocorrer, é preciso que sua metragem seja maior que a metragem mínima exigida para o
        procedimento de desmembramento, a qual varia de acordo com o local no qual o imóvel se encontra.

        <h2>A importância do advogado em Direito Imobiliário</h2>

        Nosso escritório tem por objetivo assessorar e promover todas as medidas legais necessárias para a defesa dos
        direitos de nossos clientes, com foco na advocacia preventiva, visando a minimização dos riscos financeiros e
        judiciais e primando pela efetiva segurança do patrimônio dos clientes.
        <br><br>
        Nossos advogados estão à disposição para tirar as suas dúvidas.

        <br><br>
        <div class="center">
          <ion-button routerLink="/faleconosco">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            FALE CONOSCO
          </ion-button>
        </div>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>